[2019-01-09 23:01] moderndeveloperllc opened #1 "[Question] webauthn - Utility of asking for $request"
Looking through your library and noticed that you require a specific implementation for $request - a `Symfony\Component\HttpFoundation\Request` object - when doing FIDO2 client credential checking. Yet that object is not actually utilized in anything using `TokenBindingInterface`. Is this for future development?

I have an application that already has a PSR-7 `ServerRequestInterface` object (I'm u

[2019-01-10 14:00] moderndeveloperllc commented on #1
Thanks. This looks to be a great library for an exciting security technology. I look forward to using it in my future projects this year.

[2019-01-10 15:08] Spomky commented on #1
I've just updated [the demo](https://github.com/web-auth/symfony-demo).
It is not finished, but you can already create a new account and use that new authentication process.

[2019-01-10 22:24] Spomky commented on #1
The Psr7 interface `ServerRequestInterface` is now used by the library instead of the Symfony implementation.
The demo is also up to date.

[2019-01-10 22:24] #1 closed

[2019-01-10 22:45] moderndeveloperllc commented on #1
Thanks. I know that made your tests a little more difficult, but it makes it so much easier for us non-Symfony folks. I'm going to to my best to actually provide pull requests and not just tickets for future items.

[2019-01-10 22:53] Spomky commented on #1
Don’t worry about that. I usually prefer common interfaces instead of concrete implementations.
This is exactly what’s done in [another project](https://github.com/OAuth2-Framework/oauth2-framework)

[2019-01-18 09:21] Spomky opened #2 "Full Token Binding Support"
**Is your feature request related to a problem? Please describe.**
See Token Binding feature:

* [RFC8471](https://tools.ietf.org/html/rfc8471)
* [RFC8472](https://tools.ietf.org/html/rfc8472)
* [RFC8473](https://tools.ietf.org/html/rfc8473)

The framework proposes several strategies:

* Ignore: see `Webauthn\TokenBinding\IgnoreTokenBindingHandler`
* Error: see `Webauthn\TokenBinding\TokenBindingN

[2019-01-28 08:08] Spomky opened #4 "Packed Attestation Format"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | https://www.w3.org/TR/webauthn/#packed-attestation
| Version              | 1.x

Add support for `packed` attestionation format.

* [x]  Basic (mandatory)
* [x] AttCA (mandatory)
* [x] Self Attestation (mandatory)
* [ ] ECDAA (optio

[2019-01-28 08:09] Spomky opened #5 "TPM Attestation Statement Format"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | https://www.w3.org/TR/webauthn/#tpm-attestation
| Version              | x.y(.z)

Add TPM Attestation format support.

* [x] AttCA
* [ ] ECDAA -- **Will be done at a later stage**

[2019-01-28 08:10] Spomky opened #6 "Android Key Attestation Statement Format"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | https://www.w3.org/TR/webauthn/#android-key-attestation
| Version              | x.y(.z)

Add Android Key Attestation support.

[2019-01-28 08:11] Spomky opened #7 "Android SafetyNet Attestation Statement Format"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | https://www.w3.org/TR/webauthn/#android-safetynet-attestation
| Version              | 1.x

Add Android SafetyNet Attestation support.

[2019-01-28 08:15] Spomky opened #9 "Support for other algorithms"
The library only supports EC signatures and may support RSA ones.
The algorithms supported by this library should be extensible and new algorithms should be easily added if needed.

[2019-01-28 08:16] Spomky opened #10 "Better public key credential support"
At the moment, the public key credential is just a binary string.
It could be easier for implementers to get a dedicated object that represent that key.

This object could be of type `RsaKey`/`EcKey` implementing an interface (e.g. `PublicKeyCredential`).

[2019-01-28 08:36] Spomky opened #11 "Provide Doctrine Model/Repository"
**Is your feature request related to a problem? Please describe.**
The documentation says a Credential class and associated repository have to be created.

**Describe the solution you'd like**
The bundle should provide an abstract class for both components and the doctrine mapping.

**Describe alternatives you've considered**

**Additional context**
The use in application will become very easy: th

[2019-01-29 12:30] Spomky commented on #9
Done in #10

[2019-01-29 12:30] #9 closed

[2019-01-29 13:37] Spomky opened #13 "`allowCredentials` can be set to none"
**Is your feature request related to a problem? Please describe.**
As per [the specification section 5.5](https://www.w3.org/TR/webauthn/#dom-publickeycredentialrequestoptions-allowcredentials), the `allowCredentials` parameter can be set to none (default).

The user identification in the specification is different from what is done in the library:
* The user was identified **before** the authenti

[2019-02-01 07:40] Spomky opened #17 "CredentialRepository enhancement"
**Is your feature request related to a problem? Please describe.**
The `CredentialRepository` has several methods that could be simplified:

* `public function has(string $credentialId): bool;`
* `public function get(string $credentialId): AttestedCredentialData;`
* `public function getUserHandleFor(string $credentialId): string;`
* `public function getCounterFor(string $credentialId): int;`
* `pu

[2019-02-11 07:15] francislavoie commented on #4
Thanks for working on this! I'll be following the progress, I'll likely be implementing this in some systems at some point.

I just wanted to bring this up: https://paragonie.com/blog/2018/08/security-concerns-surrounding-webauthn-don-t-implement-ecdaa-yet just in case you weren't aware. Not sure if there's been new developments on the topic since then, I haven't been following the FIDO2 progress

[2019-02-11 14:15] Spomky commented on #4
Hi @francislavoie,

I read that blog post few months ago (I usually follow what Scott writes).
ECDAA have not moved so far and the spec is still in review so wait and see. This is not a priority for me as no security device use it.
I prefer spend my time on Android SafetyNet/Android Key and TPM attestations.

[2019-02-11 16:46] Spomky commented on #7
Done. Will be available in v1.1

[2019-02-11 16:46] #7 closed

[2019-02-17 21:09] Spomky commented on #6
Done

[2019-02-17 21:09] #6 closed

[2019-02-18 15:10] Spomky opened #27 "ECDAA Attestation Type Support"
**Is your feature request related to a problem? Please describe.**
At the moment, the library supports the following [attestation types](https://www.w3.org/TR/webauthn/#sctn-attestation-types):

* None,
* Basic
* Self
* AttCA

The ECDAA type is not yet supported and the attestation statement formats [Packed](https://www.w3.org/TR/webauthn/#packed-attestation) and [TPM](https://www.w3.org/TR/webaut

[2019-02-18 15:11] Spomky commented on #5
Done. Will be available in v1.1.
See #27 for ECDAA attestation type follow-up.

[2019-02-18 15:11] #5 closed

[2019-02-18 15:12] Spomky commented on #4
Done. Available in v1.0 (Basic/AttCa). Self is available in v1.1.
See #27 for ECDAA attestation type follow-up.

[2019-02-18 15:12] #4 closed

[2019-02-25 14:10] davispuh opened #28 "PublicKeyCredentialLoader->load() should support PHP array for data"
**Is your feature request related to a problem? Please describe.**

`PublicKeyCredentialLoader->load($data)` accepts only JSON encoded string which prevents me using different serialization formats (eg. XML) or in case JSON was already decoded earlier.

**Describe the solution you'd like**

`PublicKeyCredentialLoader->load($data)` to support already decoded PHP `array` object so it's independent o

[2019-02-25 14:19] davispuh commented on #28
Current `load` method would be better called as something like `loadFromJSON`

[2019-02-25 21:44] Spomky commented on #28
Nice idea.
Done in f956f80e0285e8cb707bb2c3a0d363907ec8e9cc

Will be available in v1.1

[2019-02-25 21:44] #28 closed

[2019-02-26 08:49] davispuh commented on #28
Awesome! :+1:

but `loadJson` is wrong name for that method, it should be something like `loadArray` because it has nothing to do with JSON. Once you decode JSON you have a PHP object.

for example it will look like this...
[code]

[2019-02-26 10:51] Spomky commented on #28
Indeed you are right. I modified the name of the method

[2019-02-28 11:22] davispuh opened #29 "Yubi Security Key Series - attestation statement is not valid"
Geting `The certificate in the attestation statement is not valid.`
When using Yubi Security Key Series (https://www.yubico.com/products/security-key/)
with `PublicKeyCredentialCreationOptions::ATTESTATION_CONVEYANCE_PREFERENCE_DIRECT`

In `FidoU2FAttestationStatementSupport::checkCertificate` function `openssl_pkey_get_details`
returns
[code]

The certificate itself
[code]

I'm thinking maybe it'

[2019-02-28 13:56] Spomky commented on #29
Humm that's quite strange, the yubikeys are correctly managed for a while ago.
Can you provide the whole `
PublicKeyCredentialCreationOptions` (as a JSON string) object and the response from the device?

[2019-03-01 07:34] Spomky opened #31 "Add support for Metadata Service"
**Is your feature request related to a problem? Please describe.**
See https://fidoalliance.org/specs/fido-v2.0-rd-20180702/fido-metadata-service-v2.0-rd-20180702.html

This feature should implement a command or service that will perform http calls to the metadata service, retrieve and store the last dataset for all registered authenticators.
As the data from the MDS should not evolved often, the

[2019-03-01 07:39] Spomky opened #32 "Add support for Transport Binding Profile"
**Is your feature request related to a problem? Please describe.**
See https://fidoalliance.org/specs/fido-v2.0-rd-20180702/fido-server-v2.0-rd-20180702.html#transport-binding-profile

[2019-03-04 11:21] davispuh commented on #29
OpenSSL version `OpenSSL 1.0.2n  7 Dec 2017`

`openssl_get_md_methods()` returns
[code]

`openssl_get_cipher_methods()` returns
[code]

When using Chromium then it fails in `PackedAttestationStatementSupport.php:checkCertificate` on `openssl_x509_parse` with `illegal ASN1 data type for timestamp`

Also note that I'm actually using HHVM in PHP 5.6 mode (I backported this lib)

`PublicKeyCredentialC

[2019-03-06 11:31] Spomky commented on #29
Hi,

With `PublicKeyCredentialCreationOptions` and `PublicKeyCredential` shared above I have no error.
I agree with you and it looks like your OpenSSL extension does not support the EC algorithms.

[2019-03-06 21:00] #11 closed

[2019-03-06 21:00] #29 closed

[2019-03-06 21:00] #17 closed

[2019-03-08 12:12] Spomky commented on #32
Done in v1.1

[2019-03-08 12:12] #32 closed

[2019-03-11 14:46] moderndeveloperllc opened #35 "[DOC] Relying, not Relaying"
Just a small typo in your docs. The specification talks about a [Relying Party](https://www.w3.org/TR/webauthn/#webauthn-relying-party), but you have Rel**a**ying Party. It makes a difference in understanding the workflow. Google Translate seems to have an issue with these words. C'est la différence entre "la partie se fiant" (relying party) et "la partie relais" (relaying party).

And yes, I seem

[2019-03-11 16:13] Spomky commented on #35
Thank you for pointing this out.
I modified some pages accordingly.
I let this issue opened until every pages/code lines are fixed.
French translations for relying party could be "entité de confiance" and for relaying party we could simply use "relais". I'm not sure "relaying party" is correct anyway, "third party" (tierce party/service intermédiaire) would be more appropriate.

Thank you for the

[2019-03-11 16:33] moderndeveloperllc commented on #35
No a problem. It's been almost 30 years since I studied French, so I was just going off [what I found online](https://context.reverso.net/translation/english-french/the+relying+party). I tried the demo and it's really nice to see the code working. I may steal your security key image, it's quite nice!

From what I've seen, you write good code. More importantly, you seem to care about these projects

[2019-03-12 16:25] moderndeveloperllc opened #36 "Question: base64 encode/decode of $id in PublicKeyCredentialUserEntity"
I noticed a curious quirk that `PublicKeyCredentialUserEntity` will base64 encode/decode `$id` on JSON serialization. Since the roundtrip works, nothing it broken per se, but I was curious as to the decision to do any encoding that parameter.

User entities are most likely coming from a datastore of some sort, so having a non JSON-safe $id would be rather rare would it not?

[2019-03-12 20:17] Spomky commented on #36
In the specification, the user ID corresponds to the [user handle](https://www.w3.org/TR/webauthn/#user-handle) which is defined as follow:

As it is a byte string, we could imagine implementations where non-printable characters are used.

From my point of view the user handle should not be the ID used as database index to avoid disclosure of sensitive information (this is not what I do in the den

[2019-03-12 20:31] Spomky opened #37 "Usernames Enumeration"
**Is your feature request related to a problem? Please describe.**
At the moment, the firewall triggers an error when a username does not exist. This could be used by an attacker to find usernames and associated key descriptors.

**Describe the solution you'd like**
No error should be triggered if the username does not exist.
A list of fake key descriptors should be generated. This list should be

[2019-03-12 20:34] Spomky opened #38 "E-mail addresses as usernames"
**Is your feature request related to a problem? Please describe.**
As explained in the specification, the e-mail addresses should not be used as usernames.

**Describe the solution you'd like**
A a section in the doc about all security means that can be implemented.
Should be linked to #37

[2019-03-13 20:10] #36 closed

[2019-03-18 14:30] moderndeveloperllc commented on #38
@Spomky I personally have no issue with this for `PublicKeyCredentialUserEntity::$id` (I use UUIDs), but the [spec only indicates](https://www.w3.org/TR/webauthn/#sctn-username-enumeration) "may" restrict (as a best-practices implementation). Are you going to have this as an optional flag when creating a `PublicKeyCredentialUserEntity`?

[2019-03-18 14:59] moderndeveloperllc opened #39 "Easier PublicKeyCredentialSource creation"
**Is your feature request related to a problem? Please describe.**
Currently there are many parameters for `__construct()` that could be obtained from `PublicKeyCredential`.

**Describe the solution you'd like**
Add a method to `PublicKeyCredential` for creation of `PublicKeyCredentialSource`

**Describe alternatives you've considered**
Have `__construct` ingest `PublicKeyCredential` for many of i

[2019-03-18 15:02] Spomky commented on #38
Hi @moderndeveloperllc

This is related to the `PublicKeyCredentialUserEntity::$name` parameter (inherited from `PublicKeyCredentialEntity`) and not the `$id` one.
You are right to say that this is not a requirement, but just an advice and there is no obligation to strongly restrict e-mail addesses as usernames.

I will change that into a section in the doc about security topics.

[2019-03-18 15:06] Spomky commented on #39
Yep. I noticed that when building the demo and the v1.1.
I will add a static method to ease the creation of a `PublicKeyCredentialSource` object from a `PublicKeyCredential` one.

[2019-03-18 15:17] moderndeveloperllc commented on #39
Thanks. Not sure it can be static as lots of stuff coming from `$this->response` created by the loader, but which ever way you prefer would great.

[2019-03-18 15:17] moderndeveloperllc commented on #38
Actually, it does refer [to the user.id](https://www.w3.org/TR/webauthn/#sctn-user-handle-privacy).
[code]
[User handle](https://www.w3.org/TR/webauthn/#user-handle) is defined as:
[code]
User name is described as being [able to be an email address:](https://www.w3.org/TR/webauthn/#dictdef-publickeycredentialentity)
[code]

[2019-03-18 15:43] Spomky commented on #38
:+1:

`user.id` = user handle: UUID or any random bytes string (up to 64 bytes). Defined by the rp i.e. the server in this case.
`user.name`: username made of printable characters (works fine UTF8 chars, emojis...). Usually defined by the user.

Both values can use an e-mail. The idea is to warn developers and users of potential data leaks if used.

[2019-03-18 15:59] Spomky commented on #39
I was thinking of a function like this one (within the `PublicKeyCredentialSource` class - code not tested):

[code]

That could be called like this:

[code]

[2019-03-18 16:03] moderndeveloperllc commented on #39
That looks like a good idea. I mistook where you were planning on putting the function. I had also not seen `getSignCount()`.

[2019-03-19 07:08] Spomky commented on #39
Done in https://github.com/web-auth/webauthn-framework/commit/06eb230959028ac7715d814cdfc48c6129805852

Let me know if you see anything that could be improved.
This method only works during the attestation ceremony, I don't think it is necessary to add a method for other use cases as the pk credential sources are supposed to be generated during this ceremony.

[2019-03-19 14:57] moderndeveloperllc commented on #39
Looks good and makes creation much easier.

One thing that might be nice is to have set*() methods for all the class variables. As this is the class that is designed to be stored in databases, it might be necessary to manipulate the values during the roundtrip (the three `string`s that are binary for example - `$publicKeyCredentialId`, `$aaguid`, `$credentialPublicKey`).

In my use case I'm using

[2019-03-19 16:17] moderndeveloperllc opened #40 "Getting UUID v4 format for AAGUID"
**Is your feature request related to a problem? Please describe.**
I would like to be able to view and verify the AAGUID (when applicable) of an authenticator. The AAGUID is created by the authenticator manufacturer in UUIDv4 format:
[code]
It's stored in the certificate in CBOR (Major Type 3) format. I've tried to use your decoder, but I can't seem to get the right info out.
[code]
While this obv

[2019-03-19 19:33] Spomky commented on #40
In the first draft versions of the specification, there was discussions about the AAGUID and its format.

In the current version we can read [in section 6](https://www.w3.org/TR/webauthn/#sctn-authenticator-model):

From what I understand the manufacturer is free to decide the way the AAGUID is generated. The 16 bytes provided in the attested credential data could be a pure random string or an UUI

[2019-03-19 20:17] Spomky commented on #39
There is no setter in the classes to avoid unexpected behaviour due to object manipulations and because these values should be modified.
I understand that this can be very frustrating, but there’s always a way to handle that without any setter.

In the v1.1 branch I added some [Doctrine custom types](https://github.com/web-auth/webauthn-framework/tree/v1.1/src/symfony/src/Doctrine/Type) and [mappe

[2019-03-19 20:29] moderndeveloperllc commented on #40
I was basing that off of:
https://fidoalliance.org/specs/fido-v2.0-rd-20180702/fido-metadata-statement-v2.0-rd-20180702.html#authenticator-attestation-guid-aaguid-typedef
That's not the official spec, but it's what the FIDO Alliance is using when defining authenticator info for it's [metadata service](https://fidoalliance.org/metadata/). I should note that it looks like Yubico has older U2F data (

[2019-03-19 20:48] moderndeveloperllc commented on #39
Making the class `\JsonSerializable` with the attendant methods would help as that would take care of the binary string roundtrips.

I'm not using Doctrine as MongoDB has a very nice [`Persistable`](http://php.net/mongodb-bson-persistable) interface and [userland library](https://github.com/mongodb/mongo-php-library). I also don't have dozens of collections, so that means I can skip the ORM.

I ca

[2019-03-19 20:48] #39 closed

[2019-03-19 20:53] Spomky commented on #40
Looks like you are right, all aaguid can be converted into UUID.
I used all aaguid gathered with the demo and run the Following code:

[code]

And got the following result:

[code]

[2019-03-19 23:03] moderndeveloperllc commented on #40
FYI, the Yubico tech says their AAGUIDs are "random", but the info they gave me matches what you have, and what I decoded from the key.

Product Name | FIDO2 AAGUID
-- | --
Security Key By Yubico | f8a011f3-8c0a-4d15-8006-17111f9edc7d
Security Key NFC | 6d44ba9b-f6ec-2e49-b930-0c8fe920cb73

(It looks like my key is second from the bottom on your list)

Interestingly, there is no "Version 0", which

[2019-03-20 00:18] Spomky commented on #40
…hardcoding is…
The metadata service is not so useless. You can get nice information about the authenticators.
Hereafter the last dataset and the details regarding the Feitian BioPass.
I will take time to implement tools to easily fetch the data (#31). It would be nice to have a logo aside the authenticator.

<details>
{
  "nextUpdate": "2019-04-03",
  "entries": [
    {
      "url": "https://mds2

[2019-03-22 08:44] Spomky opened #41 "Symfony Firewall not JSON friendly"
**Is your feature request related to a problem? Please describe.**
It is not possible to login on a Symfony app with the provided firewall when the frontend is a SPA.

**Describe the solution you'd like**
The firewall should not only rely on forms

[2019-03-25 17:44] moderndeveloperllc opened #42 "AbstractTrustPath::createFromJson() should accept string"
**Is your feature request related to a problem? Please describe.**
The method `createFromJson()` by its name would seem to indicate that you pass JSON to it, but in actuality you need to pass an array.

**Describe the solution you'd like**
Either allow method to consume either array or JSON string, or only string

[2019-03-25 22:17] Spomky commented on #42
Hi @moderndeveloperllc,

That’s right the name of the method is not clear.
I’ve just created a PR to fex that. See #43.

[2019-03-26 18:46] moderndeveloperllc commented on #42
LGTM

[2019-03-27 20:38] Spomky commented on #42
Merged. Thank you. Will be tagged soon

[2019-03-27 20:38] #42 closed

[2019-03-28 13:33] Spomky commented on #39
Hi @moderndeveloperllc,

I revised my mind and change the visibility of some class properties from private to protected.
Let me know if you see other classes that may be updated too.

[2019-04-06 11:16] Spomky commented on #35
Closing as resolved.
Thank you :+1:

[2019-04-06 11:16] #35 closed

[2019-04-11 16:40] srigi opened #48 "Refactor not to require PHP session"
Thanks for the great library. It is very useful for classic websites. However for SPAs with REST api, this lib. is not ideal. It requires PHP session for storing assertion during login. See check in [Security/Firewall/WebauthnListener](https://github.com/web-auth/webauthn-framework/blob/aa8213f0fb1677badc2f02cc9a2c203e971ad8a2/src/symfony-security/src/Security/Firewall/WebauthnListener.php#L189).

[2019-04-11 17:22] Spomky commented on #48
Hi @srigi,

I am aware of that and is will fixed soon. Have a look at the #47. I pushed the code few hours ago and this will be available in v1.2.

The demo will be updated as well with a react frontend instead a plain old form + twig templates.

[2019-04-11 19:05] moderndeveloperllc commented on #48
@srigi FWIW, you can implement without Symphony if you want. I'm using this library with a Zend Expressive middleware pipeline.

[2019-04-12 06:41] Spomky commented on #48
I answered too quickly . Here is a more precise answer.
This authentication mechanism needs at least 2 requests:

* the first one to get a [`PublicKeyCredentialRequestOptions` object](https://www.w3.org/TR/webauthn/#dictdef-publickeycredentialrequestoptions)
* the second one to send the assertion computed by the authenticator using the PublicKeyCredentialRequestOptions object

The firewall have to

[2019-04-14 20:29] Spomky commented on #37
Partially fixed in Json Firewall (https://github.com/web-auth/webauthn-framework/commit/a9cd2f4ef67fca8b458c29d5e5b9bb427e424334)

[2019-04-14 20:44] Spomky commented on #41
Done in branch v1.2

[2019-04-14 20:44] #41 closed

[2019-04-15 20:07] Spomky commented on #40
Hi @moderndeveloperllc,

In PR #49, I added a convenient method `getAaguidAsUuid()` in `PublicKeyCredentialSource` and `AttestedCredentialData` classes to get the AAGUIDs as UUIDs:

[code]

[2019-04-16 10:08] Spomky commented on #40
Closing as merged in branch `v1.2`

[2019-04-16 10:08] #40 closed

[2019-04-16 12:08] Spomky commented on #31
Hi @moderndeveloperllc,

I am working on this feature and getting something strange with the Feitian BioPass FIDO2 authenticator metadata statement (AAGUID=`77010bd7-212a-4fc9-b236-d2ca5e9d4084`).

The answer from the metadata service is as follow:

<details>eyJhYWd1aWQiOiAiNzcwMTBiZDctMjEyYS00ZmM5LWIyMzYtZDJjYTVlOWQ0MDg0IiwgImFzc2VydGlvblNjaGVtZSI6ICJGSURPVjIiLCAiYXR0YWNobWVudEhpbnQiOiAyLCAiYXR0Z

[2019-04-16 13:31] moderndeveloperllc commented on #31
There does seem to be something wrong with the entry for that authenticator. I can do the API call for `ee041bce-25e5-4cdb-8f86-897fd6418464` (Feitian ePass FIDO2-NFC Authenticator) and the data parses properly.

I'm not planning on using the MDS mainly because it is very incomplete. The biggest key maker, [Yubico](https://www.yubico.com/solutions/fido2/), isn't in the TOC, nor is [Solo](https://s

[2019-04-16 15:57] Spomky commented on #31
Thank you for the quick reply and confirmation. Il will send a feedback message to the FIDO Alliance.
I agree with you, the data does not include all the authenticators and this feature is not really exciting at the moment.
The data is also outdated (next update is set to `2019-04-03`).

In the absence of statement, your approach is interesting.

I’ve just pushed some new lines of code in dedicate

[2019-04-17 07:01] Spomky commented on #48
Hi @srigi,

I merged the Json Firewall to the v1.2 branch few days ago.
This new firewall will ease the use of script apps (e.g. Vue or React apps).

I will add 2 new options to this firewall within the next days: `success_handler` and `failure_handler`.
These handlers will allow you to customize the responses returned by the firewall. For example, you will be able to generate an access token (e.g

[2019-04-17 12:00] Spomky commented on #48
@srigi please have a look at #51. This PR will help you to fix that issue.

[2019-04-17 13:31] Spomky commented on #48
Closing as merged in v1.2.

[2019-04-17 13:31] #48 closed

[2019-04-25 10:45] Spomky commented on #38
Closing as not relevant.

[2019-04-25 10:45] #38 closed

[2019-04-25 10:45] Spomky commented on #37
Recommendations added to the documentation

[2019-04-25 10:45] #37 closed

[2019-04-25 10:46] Spomky commented on #31
Closing for now.
Ongoing #50

[2019-04-25 10:46] #31 closed

[2019-04-25 12:08] Spomky opened #54 "Remove Firewall bundles and provide only one Symfony bundle"
**Is your feature request related to a problem? Please describe.**
At the moment ther are 3 bundles. 2 of them are firewalls.
The `symfony-security-bundle` is now useless as the responses from `symfony-json-security-bundle` can be altered.
Additionally, `symfony-json-security-bundle` could be merged with the main bundle for a better consistency and DX/UX.

**Describe the solution you'd like**

1.

[2019-05-02 14:04] Spomky commented on #54
Done

[2019-05-02 14:04] #54 closed

[2019-05-13 11:07] srigi commented on #48
@Spomky sorry for not responding. I was dealing with other projects.
PR #51 looks great, thank you very much.

[2019-05-27 11:15] Spomky opened #56 "Windows 10 authentication fails because of stored public keys"
**Describe the bug**
It is no possible to use Windows 10 as authenticator. When CBOR public key is loaded, an exception is thrown:

**To Reproduce**
Steps to reproduce the behavior:

1. Register a new key using the demo with W10 and builtin authenticator on Edge with the demo at https://webauthn.spomky-labs.com/
2. Try to authenticate

**Desktop/Smartphone (please complete the following informatio

[2019-05-27 19:17] Spomky commented on #56
It seems that the encoding is wrong: [RFC7049](https://tools.ietf.org/html/rfc7049#section-2.1) clearly indicates that:

      string whose length is 500 would have 3 initial bytes of
      0b010_11001 (major type 2, additional information 25 to indicate a
      two-byte length) followed by the two bytes 0x01f4 for a length of
      500, followed by 500 bytes of binary content.

For a 256 bytes st

[2019-06-05 09:47] justewg opened #57 "'Invalid signature' as result of authentication"
I've tried to implement solution, written in examples of two steps.
Actually, everything works great except the one step, the last and main :)

**To Reproduce**
I create my own CredentialRepository class with such method:
[code]
So, my created Public Key Credential Source object writes to users account in MongoDB and finds from DB in this method, if finded - returns as PublicKeyCredentialSource ob

[2019-06-05 10:09] Spomky commented on #57
Hi, thank you for this report.
Can you share an example of the data you store and an authenticator assertion?
What type of authenticator do you use? Built-in fingerprint reader on MacBook Pro, USB key or anything else?

By the way, instead of `json_decode(json_encode(...))` you can use `$publicKeyCredentialSource->jsonSerialize()`

[2019-06-05 10:40] justewg commented on #57
Ok, thanks for point to `jsonSerialize()`

Something like this:
![image](https://user-images.githubusercontent.com/16482115/58950421-6b35a500-8797-11e9-819c-6f1e9bcf31c4.png)

Thanks for quick response

[2019-06-05 13:56] Spomky commented on #57
OK. Is et possible to get one record as text that I copy/paste?
I also need an assertion and the associated options.

Can you test if it works wish the demo (https://webauthn.spomky-labs.com). If it fails, the error may come from the library itself. Otherwise I need to investigate deeper.

[2019-06-05 14:05] justewg commented on #57
OK, I'll send json string below.
Actually, if I use `$publicKeyCredentialSource->jsonSerialize()`, the parameter trustPath in my case returns as empty array and there is an error in `PublicKeyCredentialSource::createFromArray($credentials);` because it expect {type:'empty'}
But `json_decode(json_encode())` returns correct trustPath

[2019-06-05 14:06] justewg commented on #57
[code]

[2019-06-05 14:07] justewg commented on #57
What objects do you need more? `PublicKeyCredentialCreationOptions` ?

[2019-06-05 14:10] justewg commented on #57
And what should I test on your host ? `Webauthn Demo` on this page doesn't do anything

[2019-06-05 14:27] Spomky commented on #57
There is a menu where you can create an account and login.
If there is something wrong I will receive a notification.

[2019-06-05 14:54] justewg commented on #57
I choose option of built-in fingerprint scanner, but then I receive a message about checking usb-key manufacturer.

[2019-06-05 17:54] Spomky commented on #57
I’ve just released `v1.2.2` that fixes a bug when key are loaded using the method `createFromArray`.
Can you update your depndencies and let me know if it works fine?

I don’t know why the demo doesn’t allow you to use the fingerprint.
I also updated it with v1.2.2 and will test it again soon.

[2019-06-07 08:01] Spomky commented on #57
Hi @justewg , is there any news. Did the last release fix the issue?

[2019-06-07 08:35] notapseudonym opened #58 "Incorrect serialization of PublicKeyCredentialSource"
Hi,

`PublicKeyCredentialSource` does not "fully" serialize correctly; this has already shortly been mentioned here: https://github.com/web-auth/webauthn-framework/issues/57#issuecomment-499097525

Here's an example to show the problem:
[code]

It seems like this can easily be fixed by pulling `JsonSerializable` from `AbstractTrustPath` to `TrustPath`, and fixing https://github.com/web-auth/webaut

[2019-06-07 10:08] Spomky commented on #58
Hi,

In fact I am not really happy with the design of the TrustPath objects.
I will find another way to serialize and load those objects.

I cannot modify the `TrustPath` interface without BC break.

[2019-06-10 11:44] justewg commented on #57
Works great now, thanks!

[2019-06-11 08:22] Spomky commented on #57
Excellent. Thank you.

[2019-06-11 08:22] #57 closed

[2019-06-14 06:21] Spomky opened #59 "CDDL Validator"
**Is your feature request related to a problem? Please describe.**
[The RFC8610](https://tools.ietf.org/html/rfc8610) describes a schema format for acceptable CBOR data.

**Describe the solution you'd like**
A validator could be added to the CBOR library. This validator will be used to check if the parsed data is compliant with a given data structure

[2019-07-23 21:52] herrjemand opened #67 "Passing FIDO Conformance Tests"
Hey guys. Amazing project. Seems that you are already have implemented everything. Have you thought on passing FIDO conformance tests? https://fidoalliance.org/certification/functional-certification/conformance/

If you do, please let me know and I will mark your project as FIDO Compliant in https://github.com/herrjemand/awesome-webauthn

[2019-07-24 06:02] Spomky commented on #58
Done in v2.0

[2019-07-24 06:02] #58 closed

[2019-07-24 07:59] Spomky commented on #67
Hi @herrjemand,

Thank you for your encouragement words!

Weeks ago, I received the credentials to access on https://conformance-test.fidoalliance.org tool.
The project is [ready to handle](https://github.com/web-auth/webauthn-framework/tree/v2.0/src/conformance-toolset) requests and responses as per the [server reqs spec](https://fidoalliance.org/specs/fido-v2.0-rd-20180702/fido-server-v2.0-rd-20

[2019-07-24 15:50] Spomky commented on #56
Fixed!

[2019-07-24 15:50] #56 closed

[2019-07-29 09:46] Spomky commented on #67
It looks like I deleted the e-mail I received from the FidoAlliance with the credentials to get the conformance tools. I sent a new access request few days ago. Waiting for the credentials to start the tests.

[2019-07-31 13:39] Spomky opened #70 "GMPS & BCMath"
**Describe the bug**
Because of the CBOR Decoder dependency, the framework requires the extensions GMP and BCMath.
These 2 extensions are not necessarily available on plateforms.

**Expected behavior**
It should be possible to install the framework on a plateform without these extensions.

[2019-07-31 15:20] reedy opened #71 ".gitattributes into sub repos"
Hello!

I notice there is a .gitattributes file in this repo, which is great, but it doesn't seem to get included into sub repos such as webauthn-lib and cose-lib.

This means when they're installed via composer, the various root and dot files still exist in those repos, losing the benefits of the .gitattributes file

I don't know how your build processes work, as such, how code ends up in those "

[2019-07-31 15:20] reedy opened #72 "Include tests directories in .gitattributes"
Following on from #71... Can we get the tests directories added to the .gitattributes file too?

Thanks!

[2019-08-01 18:47] Spomky commented on #67
Running tests and modifying accordingly.
Not so bad for the moment…

![Compliance Tests](https://user-images.githubusercontent.com/1091072/62319059-6c383980-b49d-11e9-8166-e7acaf55d744.png)

[2019-08-01 19:35] herrjemand commented on #67
:claps:

On Thu, 1 Aug 2019 at 9:47 PM, Florent Morselli <notifications@github.com>
wrote:

--
Yuriy Ackermann
FIDO, Identity, Standards
skype: ackermann.yuriy
github: @herrjemand <https://github.com/herrjemand>
twitter: @herrjemand <https://twitter.com/herrjemand>
medium: @herrjemand <https://medium.com/@herrjemand>

[2019-08-02 14:16] Spomky opened #73 "Allow Android Safety Net even if no http client is available"
**Is your feature request related to a problem? Please describe.**
Android Safety Net statement support requires a http client to verify the Response against Google servers.
The library should be able to first check the signature of the response and, if a client is available, confirm the validity of the response through a dedicated request

**Describe the solution you'd like**

**Describe alternat

[2019-08-02 14:18] Spomky commented on #72
Hi @reedy,

Sure I will manage that.
At the moment I am updating the project to be fully compliant with the specification.
I will add the missing gitattributes files and deploy to other packages within the next weeks.

[2019-08-06 23:01] Spomky commented on #73
Done in v2.1 to come

[2019-08-06 23:01] #73 closed

[2019-08-06 23:07] Spomky commented on #67
Only 3 tests remain to be fixed!
All algorithms but ES256k are supported.

![3AE242CEC2534AFCA6D751490E11A50B](https://user-images.githubusercontent.com/1091072/62583067-f96cfb00-b8ae-11e9-8ed1-a85dd3480808.png)

[2019-08-09 07:14] Spomky opened #75 "Add helpers"
**Is your feature request related to a problem? Please describe.**
This framework contains lot of classes and it may be hard for newcomers to clearly understand what to do.
The documentation is quite complicated.

**Describe the solution you'd like**
This framework should provide helper classes to ease the integration for basic features.
The default configuration should only ask for the minimal ma

[2019-08-09 18:22] Cirrusware opened #76 "rpId mismatch / DOMException"
I have an issue concerning register challenge.

When I use this challenge, I have an error "rpId mismatch" (check registration)
{"rp":{"name":"xxxxx"},"pubKeyCredParams":[{"type":"public-key","alg":-7}],"challenge":"XXXXXXXXXXXXX","attestation":"direct","user":{"name":"name","id":"XXXXXXID=","displayName":"XXXX XXXX"},"authenticatorSelection":{"requireResidentKey":false,"userVerification":"preferr

[2019-08-09 18:42] Cirrusware commented on #76
rpId must be equal to host.

Ex: https://www.domain.net => rpId = www.domain.net => Works
https://www.domain.net => rpId = api.domain.net => d'ont work

[2019-08-09 18:42] #76 closed

[2019-08-09 19:07] Spomky commented on #76
Hi,

Either you don’t set the rpId i.e. the current domain is used or you set it on both attestation and assertion options.

I can see in the first options object it is not set (`"rp":{"name":"xxxxx"}`) but it is in the other one (`"rp":{"name":"xxxxx","id":"xxxxx.net"}`). This may be the reason for the exception.

I recommend to always set the domain to avoid any trouble. In your case and as you

[2019-08-10 05:38] Spomky commented on #59
Moved to the cbor lib

[2019-08-10 05:38] #59 closed

[2019-08-10 13:04] Spomky commented on #71
Done in e3ae5aad9b64c7c35d240b074a7452ee1b886240.
Will be part on the next minor version (v2.1)

[2019-08-10 13:04] #71 closed

[2019-08-10 13:05] Spomky commented on #72
Done in e3ae5aad9b64c7c35d240b074a7452ee1b886240.
Will be part on the next minor version (v2.1)

[2019-08-10 13:05] #72 closed

[2019-08-11 07:24] Cirrusware commented on #76
Ok thanks for this precision.
WebAuthn is now activated on my website. Thanks for your work.

I search a way to have only fingerprint without screen lock.
I read this
https://stackoverflow.com/questions/57279094/js-webauthn-how-to-disable-or-detect-screen-lock-pin-code-option
So maybe in the next release of Chrome.

Have a nice day :-)

[2019-08-11 07:48] Spomky commented on #76
As noted in the SO question, the [uvm extension](https://www.w3.org/TR/webauthn/#sctn-uvm-extension) is the way to go.
When available, you should only need an [extension handler](https://github.com/web-auth/webauthn-framework/blob/master/doc/webauthn/PublicKeyCredentialCreation.md#extension-output-checker-handler) and reject if other methods than fingerprint are present.

[2019-08-11 07:53] Spomky opened #77 "Auto set transport methods if Metadata Statement provides the information"
**Is your feature request related to a problem? Please describe.**
At the moment, the list of suitable transport methods (usb, nfc...) is always an empty list.

**Describe the solution you'd like**
The Metadata Statement may contain the supported methods. This information should be used to populate the list.

[2019-08-11 12:58] Spomky opened #78 "[Symfony] Allow "allowedCredentials" to be empty"
**Is your feature request related to a problem? Please describe.**
When `residentKey=true` and `userVerefication="required"` are set, the authenticators should be able to authenticate the users even if the `allowedCredentials` list is empty.

**Describe the solution you'd like**
An option should be added to allow this use case.
When set, the username should not be asked to the user.

**Describe al

[2019-08-13 14:06] reedy commented on #72
Thanks!

[2019-08-15 15:54] #78 closed

[2019-08-15 15:54] Spomky commented on #78
Done

[2019-08-15 15:55] Spomky commented on #75
Package added. To be completed

[2019-08-15 15:55] #75 closed

[2019-08-15 15:56] Spomky commented on #70
BCMath not required since CBOR 1.0.7.
Only GMP, but removal is very complicated

[2019-08-15 15:56] #70 closed

[2019-08-16 21:51] Spomky opened #82 "TPM does notsupport ECC keys, only RSA"
**Describe the bug**
The TPM Statemnt Support class cannot handle certificates/public keys if ECC, only RSA.
See https://github.com/web-auth/webauthn-framework/blob/v2.1/src/webauthn/src/AttestationStatement/TPMAttestationStatementSupport.php#L103

**To Reproduce**
Not easy to demonstrate…

**Expected behavior**
ECC keys should be supported

**Screenshots**
N/A

**Desktop (please complete the foll

[2019-08-18 11:53] Spomky opened #83 "Native Cache Support For Metadata Statement Repository"
**Is your feature request related to a problem? Please describe.**
The MDS repository does not have any cache support and only rely on an hypothetical cache mechanism on the http client side.

**Describe the solution you'd like**
Add an optional PSR cache parameter to the repository

**Describe alternatives you've considered**

**Additional context**

[2019-08-18 21:36] Spomky commented on #83
Done and merged

[2019-08-18 21:36] #83 closed

[2019-08-18 21:46] Spomky commented on #82
Done. To be confirmed by tests

[2019-08-18 21:46] #82 closed

[2019-08-30 13:13] ralfbecker opened #86 "Missing ramsey/uuid dependency"
**Describe the bug**
web-authn/webauth-lib requires ramsey/uuid, but it is not required in composer.json

**To Reproduce**
Should be obvious.

Ralf

[2019-08-30 13:36] ralfbecker opened #87 "Documentation examples are lacking"
**Describe the bug**
The documentation examples for web-auth/webauthn-lib miss a couple of things and are wrong in some areas.

In the process of implementing WebAuthn for [EGroupware](https://github.com/EGroupware/egroupware) I created a self-contained example app:
https://github.com/ralfbecker/webauthn

I'm happy to contribute it to this project, to save everyone finding and fixing the problems

[2019-08-30 14:16] Spomky commented on #86
Hi @ralfbecker,

You are right I missed that dep in composer.json.
I've just fixed it in the main package (see https://github.com/web-auth/webauthn-framework/commit/497f25a0997a2b96a99950fbae768098aff0e33b) and this will be tagged and deployed in web-auth/webauthn-lib in few hours.

[2019-08-30 14:37] Spomky commented on #87
Hi Ralf,

1. Indeed the doc is not in line with the last version of the library. **I will fix that asap**. The [demo](https://github.com/web-auth/symfony-demo/blob/master/assets/app/views/LoginPage/LoginPage.jsx#L92-L94) is. This is due to the last changes merged in v2 branch to pass the compliance test with the FIDO Alliance tool.

2. I am not sure where the information is missing. I will move [t

[2019-08-30 14:47] Spomky commented on #87
https://github.com/ralfbecker/webauthn

I am very happy to see this library helps you in your projects.
When I started to develop this library, I was far from imagining it to be used in so many web apps.
I would like to provide an easy to use library and I am aware of its lack of documentation, example and clarity.
Be sure that I will do my best to made it clear and simple. Please note that apart

[2019-08-31 12:31] ralfbecker commented on #86
Thanks :)

[2019-08-31 12:31] #86 closed

[2019-08-31 12:51] ralfbecker commented on #87
Hi Florent,
1. ok, the base64UrlDecode function should go to the examples too
2. the information is there as a comment: It is important to store this request (variable $publicKeyCredentialCreationOptions) in the session for the next step. I would add the files to create a working example in the repo, beside your explanation as md file.
3. I created a simple json file as repo-example: https://githu

[2019-08-31 14:43] Spomky commented on #87
Hi Ralf

Please find attached the example in your repository I’ve fixed.
It uses at least the v2.1 that introduced a `Server` class that ease the creation of the webauthn server you want to build.

I think I will use this example as an official demo. There are a couple of modifications to perform, but it seems to work fine. It is online at https://dw.spomky-labs.com/register.php

Feel free to subm

[2019-08-31 18:10] ralfbecker commented on #87
Hi Florent,
I updated my repo with your changes, thought the helpers.js are not used, so I removed them.
The problem 5. with the empty userHandle is gone now :)
Let me know if you want me to fix the docu with what you send me. Then I'll send you a pull request.
Ralf

[2019-08-31 18:57] Spomky commented on #87
That’s great.
Here is an example without user for the login step: [demo-login-without-user-info.zip](https://github.com/web-auth/webauthn-framework/files/3562742/demo-login-without-user-info.zip).
As you may notice, during the registration process, a resident key is asked (second argument of the `AuthenticatorSelectionCriteria` object) and the user verification is required during the registration

[2019-09-02 07:13] it-spiderman opened #88 "[webauthn-lib] App broken after composer update"
Our implementation of WebAuthn using webauthn-lib got broken after running composer update.
We pinpointed the issue to the update of https://github.com/web-auth/cose-lib from 2.0.3 to 2.1.

Problem occurs here https://github.com/web-auth/cose-lib, seems that our key retrurns signature of length 71, while expected is 64. (Using FIDO2 usb key)

Since the signature handling is done compeltely by the

[2019-09-02 10:34] Spomky commented on #88
Hello @it-spiderman,

I am sorry to read that you have an issue with the new minor version.
Can you tell me when this exception is thrown: registration of the device or authentication of the user?

Is it possible to have additional information such as the credential options, response or pk source?
At least the complete trace of the exception?

Thanks

[2019-09-02 12:32] it-spiderman commented on #88
Hello @Spomky,

This only occurs on authentication step - key registration works fine.
We are basically using the code as it is on:
https://github.com/web-auth/webauthn-framework/blob/master/doc/webauthn/PublicKeyCredentialRequest.md#example-1

`[1d4ed64ca2b16c9cd768826a] /wmf-2fa/index.php?title=Special:UserLogin&returnto=Main+Page InvalidArgumentException from line 37 of /var/www/html/wmf-2fa/ex

[2019-09-02 12:58] Spomky commented on #88
Thaks for the details.
It looks like you have `web-auth/cose-lib` v2.1 and `web-auth/webauthn-lib` v2.0. Is it correct?
If yes, I see from where the issue comes from and I will fix that in few hours.

[2019-09-02 13:04] it-spiderman commented on #88
Correct, `"web-auth/webauthn-lib": "v2.0.3",` which requires `"web-auth/cose-lib": "^2.0"`  (resolves to 2.1.4)

Thank you!

[2019-09-02 13:16] Spomky commented on #88
That's great. Let me a few moment to fix it.
You will be able to use `web-auth/webauthn-lib` v2.0 with `web-auth/cose-lib` v2.1.
If everything is fine you will be able to update `web-auth/webauthn-lib` to v2.1 as well.

Please note that there is also a bug in the JS script [in the example](https://github.com/web-auth/webauthn-framework/blob/master/doc/webauthn/PublicKeyCredentialRequest.md#example

[2019-09-02 20:28] Spomky commented on #88
Should be fixed in v2.1.5 now.
Can you confirm it is now fine wor you?

I also updated the JS script in the example. Don’t forget to update it too if you are using it.

[2019-09-03 06:32] it-spiderman commented on #88
Everything is working, thank you very much

[2019-09-03 06:49] #88 closed

[2019-09-03 07:01] Spomky commented on #88
That's a good news. Sorry for the inconvenient.

[2019-09-03 12:15] reedy opened #90 ".github in .gitattributes hasn't worked"
Thanks for the updates to .gitattributes amongst your repositories (#71), much appreciated

It seems the addition of .github hasn't actually worked correctly, and we're still getting the .github folder in the different libraries

I'm guessing it's the lack of `export-ignore` after the github lines, and I guess the same for the docs and tests lines too

[code]

[2019-09-03 12:26] #90 closed

[2019-09-05 12:10] Spomky commented on #87
Hello Ralf,

I crteaed a PR for the modification of the documentation.
Feel free to comment in #92 if you see something to modify or if it is not clear enough.

[2019-09-05 12:11] Spomky commented on #87
I close this issue now, let’s continue in #92

[2019-09-05 12:11] #87 closed

[2019-09-07 15:23] filliph opened #93 "Private construct method generating errors"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
Just look in `AndroidSafetyNetAttestationStatementSupport` in any decent IDE:

<img width="543" alt="image" src="https://user-images.githubusercontent.com/9424286/64476841-c0fd5d00-d18b-11e9-98cb-1c2361c57656.png">

[2019-09-07 17:04] Spomky commented on #93
Hi,

It looks like you installed v1.x of the `web-token/*` library.
Actually this library requires v2.x.

I have to admit this is not clearly mentioned in the documentation or in the `suggest` section of `composer.json`.
I will add more details in #92 to avoid any trouble like this one.

Can you confirm it works fine with web-token/* ^2.0?

[2019-09-07 17:44] filliph commented on #93
It seems like that was the problem, the project I'm working with still uses v1.x so I used
[code]
To override the file and fix the constructor. That seems to have gotten rid of the error and the security key prompts for authorisation to see device info.

I still can't seem to get the AAGUID to save, the documentation for how to actually obtain this information is somewhat sparse.

I feel like the

[2019-09-07 17:44] #93 closed

[2019-09-07 18:58] filliph opened #94 "Invalid certificate or certificate chain. unable to get local issuer certificate"
**Describe the bug**
When I add `SimpleMetadataStatementRepository` to the server and the browser requests the security key data, it fails with

If I do not provide a MDS Repository, the key registers correctly.

[code]

Manually executing the validation via `openssl verify` also does not work:
[code]

EDIT: I should point out that `openssl verify -verbose /tmp/webauthn-leaf-1sYuxD` is literally t

[2019-09-07 20:38] Spomky commented on #93
Excellent!

That’s right. And that’s why I introduced the [simple `Server` class](https://github.com/web-auth/webauthn-framework/files/3562553/demo.zip)) to create your webauthn server and avoid all these class instances.

[code]

The re-write of the documentation is ongoing.

The AAGUID is sent by the authenticator and for some reasons it can be null bytes (non-FIDO2 authenticator, `none` or `ind

[2019-09-07 21:10] Spomky commented on #94
MDS repository has been introduced in v2.1 and is optional to avoid any BC break with v2.0.
When set, all Attestation Statement support classes (except `none`) will try to find the medetata statement for the given authenticator and verify that attestation trust path.

Unfortunately, the best source is the FIDO2 MDS service but does not contain all authenticator statements. Thus this MDS repository

[2019-09-07 21:25] filliph commented on #94
I see, it was not clear at all from the documentation that adding statements was _required_ for the operation of the MDS, nor that it was only possible to obtain AAGUID data if you perform this extra set of validation.

The W3 spec is also quite dense, though reading it again now with the added information from your post it makes sense: The AAGUID is only meant to be used to verify.
This feeds int

[2019-09-07 21:25] #94 closed

[2019-09-09 13:23] Spomky commented on #94
Hi @filliph,

I decided to completely rewrite the documentation to make it clear for you and other developers.
You will find the first pages at https://webauthn-doc.spomky-labs.com (most of them are empty at the moment).

The specification is dense and also refers to other documents that are even more complex.
You can have an overview of [all specs here](https://fidoalliance.org/specifications/dow

[2019-09-23 10:17] Spomky opened #95 "Counter Remediation Strategies"
**Is your feature request related to a problem? Please describe.**
At the moment, if the authenticator counter is equal or lower than the one stored in the DB, the assertion is rejected.
This is useful to prevent clones. But in some cases it will reject legit assertions.
Example:
* The counter in the server DB is 100. The next counter of the authenticator will be 101
* The authenticator is cloned.

[2019-10-01 11:58] Spomky opened #97 "Form or Twig Integration"
**Is your feature request related to a problem? Please describe.**
If one want to integrate the bundle in a Symfony project, the script and the data have to be integrated in the twig template.

This step can be difficult and not really easy for newcomers.

**Describe the solution you'd like**
It could be simple to provide twig helpers to ease the integration.
This could be acheived through a form

[2019-10-09 21:55] Spomky commented on #95
Done in the current v2.2 branch

[2019-10-09 21:55] #95 closed

[2019-10-11 08:22] Spomky commented on #67
Only one issue remains!
It is linked to https://github.com/fido-alliance/conformance-tools-issues/issues/518.

[2019-10-17 14:16] Spomky opened #98 "The Metadata Statement should be available after attestation ceremony"
**Is your feature request related to a problem? Please describe.**
It could be interesting to associate the Attestation Metadata to the attestation object returned after the attestation ceremony (registration of the authenticator).

**Describe the solution you'd like**
The Attestation Metdata is already retrieved by the attestation statement supports (except none). This should be easy to move all

[2019-10-17 14:16] #77 closed

[2019-10-18 13:03] Spomky commented on #98
Done in v2.2. If available, the MDS is attached to the Attestation Object during the Attestation ceremony

[2019-10-18 13:03] #98 closed

[2019-10-28 14:24] Spomky opened #101 "Server Object Simplification"
**Is your feature request related to a problem? Please describe.**
When a developer wants to create a server using the `Server` class, it is require to create a RelayingParty entity object and use it as argument. See [Webauthn\Server.php#L100](https://github.com/web-auth/webauthn-framework/blob/master/src/webauthn/src/Server.php#L100)

**Describe the solution you'd like**
It could be nice to direc

[2019-10-28 14:54] moderndeveloperllc commented on #101
Your library of course, but saving one step doesn't seem worth it for a BC breaking change. I tend to just create the class in the server constructor. Oddly enough, I think it helps with the readability to keep it separate. Just having the RP entity info listed as params kinda looses that it's a part of the spec, etc.
[code]

[2019-10-28 16:41] #101 closed

[2019-10-28 16:42] Spomky commented on #101
OK what you say makes sense so closing

[2019-10-28 20:22] Spomky commented on #67
I am REALLY proud to announce that the version 2.2 to be released by the end of the year will be fully compliant with the specification.
This new version passes all the tests proposed by the FIDO Conformance Cools v1.2.1.

The demo at https://webauthn.spomky-labs.com is designed to handle test requests and responses.
Feel free to play with it.

![D481AF54B4254506B1BEE81E020C90CB(1)](https://user-i

[2019-10-28 20:22] #67 closed

[2019-10-28 21:42] Spomky commented on #2
SecTokenBinding support added (to be tested with compatible server)

[2019-10-31 14:09] Spomky opened #102 "Metadata Statement Repository Refinement"
**Is your feature request related to a problem? Please describe.**
The default [MDS Repository](https://github.com/web-auth/webauthn-framework/blob/v2.2/src/metadata-service/src/SimpleMetadataStatementRepository.php) has a caching system (PSR based) to avoid unecessary calls to the MDS server, but is very slow when calling the MDS server for the first time.
Moreover, even if an AAGUID has already

[2019-11-06 23:50] SeifertDaniel opened #103 "Invalid signature: error:0906D06C:PEM routines:PEM_read_bio:no start line"
Hello Spomky,

I try to implement your webauthn package in our application using your new documentation https://webauthn-doc.spomky-labs.com/the-webauthn-server/the-easy-way. Therefore I use the current version 2.1.7 of webauthn-lib.

Registration works fine, but login throws the exception "Invalid signature" in AuthenticatorAssertionResponseValidator class. Output from openssl_errorstring is "err

[2019-11-07 06:15] Spomky commented on #103
Hi Daniel,

At first sight it looks like the public key has an incorrect format.
Would you please share also the public key you store in your repository?

Thanks.

[2019-11-07 21:31] SeifertDaniel commented on #103
Hello Florent,

thank you very much for your fast feedback.

I just discovered my mistake: Since I'm implementing the integration of the Webauthn package as a prototype first, I have the PublicKeyCredentialSource object and the corresponding PublicKeyCredentialSourceDescriptor object fixed in the source code instead of reading both from one database entry. Since I didn't know the key wrapping mech

[2019-11-07 21:31] #103 closed

[2019-11-14 20:15] anita-tenjarla opened #104 "Inconsistent usage of base64 encoding/decoding challenge"
**Describe the bug**
First of all, thanks for the library!

A small nit, but when setting up the library to register client keys, I noticed a disparity between the docs and the code. The [docs](https://github.com/web-auth/webauthn-framework/blob/master/doc/webauthn/PublicKeyCredentialCreation.md) suggest base64 _encoding_ the publicKeyCredential's `clientDataJSON` received from the client browser.

[2019-11-18 13:59] Spomky commented on #104
Hi @anita-tenjarla,

The documentation is being rewritten. You will find the first pages at https://webauthn-doc.spomky-labs.com/
The doc pages provided in this repository are not in line with the last version of the framework.
The JS script examples to correctly load the credentials options [can be found on this page](https://webauthn-doc.spomky-labs.com/pre-requisites/javascript).

It is planned

[2019-11-18 16:54] anita-tenjarla commented on #104
No problem, thanks for the quick response! The new docs look great.

[2019-12-07 12:49] #97 closed

[2020-01-02 23:04] Spomky commented on #102
Closing as the Metadata Statement Repository will be completely reviewed in v3.0.

[2020-01-02 23:04] #102 closed

[2020-01-07 21:18] Spomky commented on #104
Hi @anita-tenjarla,

I now close this issue as already answered.
Please note that the branch v3.0 have just been released and the doc at https://webauthn-doc.spomky-labs.com/ is in line with this new branch.

Regards

[2020-01-07 21:18] #104 closed

[2020-01-10 08:15] Spomky opened #108 "Enhanced Metadata Repository and Metadata Statement verification"
**Is your feature request related to a problem? Please describe.**
The last 3 issues spotted by the official FIDO Alliance testing tools are all related to the verification of the certificate chain of the attestation metadata.

This is due to the lack of information regarding the certificate revocation list (CRL) provided by the root certificates.
The `MetadataStatement` class is not enough to che

[2020-01-17 14:14] kumirska opened #111 "Installation failed"
Hi
I can't add library web-auth/webauthn-symfony-bundle to project

Details:
`composer require web-auth/webauthn-symfony-bundle`
[code]
[code]

As far as I understand, the library requires config ^5.0 which requires php^7.2.5
While there is no way to quickly update the php to 7.2, can I somehow use the library on php 7.1.33?

PHP 7.1.33 (cli)
Symfony 3.4.29
OS: macOS Catalina

[2020-01-17 19:29] Spomky commented on #111
Hi @kumirska,

Both versions 2.x and 3.x require PHP 7.2. The version 1.x requires PHP 7.1 but this branch is not maintained anymore.
To solve your issue, you should first update your platform to a newest PHP version. Then you will be able to update Symfony and install the Webauthn bundle.

[2020-01-18 07:55] kumirska commented on #111
Thanks for the answer, Spomky

[2020-01-18 07:56] #111 closed

[2020-02-04 14:48] ruudboon opened #114 "Example not working."
https://webauthn-doc.spomky-labs.com/the-webauthn-server/the-hard-way/authenticator-registration
If you try the example
[code]
You will end up with:
[code]

[2020-02-04 23:08] ruudboon commented on #114
Planning to work on a poc with Phalcon tomorrow if I notice some more doc related issue I’ll let you know. Thnx

[2020-02-18 09:09] Spomky opened #116 "[Suggestion] Controller / Templates / JS integration?"
I am wondering if it is relevant to integrate the controller [showed in the documentation](https://webauthn-doc.spomky-labs.com/deep-into-the-framework/register-authenticators#the-symfony-way) directly in the symfony bundle.

We could imagine new configuration options to enable that feature. The options will be very similar to the ones for the firewall.
With this feature, developers will have near

[2020-02-18 09:52] #114 closed

[2020-02-18 09:54] Spomky commented on #114
Hi,

The PublicKeyCredentialCreationOptions constructor will change in v3.2. The example you posted in your first message will be possible as other arguments now have default values.

Regards.

[2020-02-25 18:11] cube-access-repo opened #119 "MySql"
Hello,

How can we get example of MySql support of this framework

[2020-02-26 21:45] Spomky commented on #119
Hi,

There is no example for MySQL or other database mgmt system provided by the framework or the documentation.
This is something that I would love to add.

Hereafter the Doctrine migration file for SQLite. This should be very similar for MySQL.
Just pick the SQL commands and adapt them for MySQL.

[code]

[2020-03-03 14:44] AlexH269 commented on #37
Is this still relevant with the current version? Looks like by default it is still possible to use this mechanism to determine which users do and do not exist.

[2020-03-03 15:08] Spomky commented on #37
Yes it is and there is no efficient way to prevent it.
The Fake User Entity Support mentionned above has been removed in the last major release as this feature creates lot of issues.
Best is to let users to choose a username without any constraint and recommend them to avoid personal data e.g. real name or e-mail address.

[2020-03-03 15:10] AlexH269 commented on #37
OK, in my use case the username is pre determined anyway. Thanks for the quick response.

[2020-03-06 18:18] Mazecreator opened #121 "Windows Sign-In Options: Windows Hello PIN"
I am not sure if "Windows Sign-In Options: PIN" is supported by the PHP Server Framework so I am adding this request as a Feature for now unless it can be confirmed it should work.

I am working with the PHP Server backend and the JavaScript front end without the use of Symfony Framework.  I am on the first step of learning and understanding the Creation of an account.

When I use an Android devic

[2020-03-06 18:43] Spomky commented on #121
Hi,

Thank you for reporting me the troubles you have with the bundle. This is something I would like to simplify in a near future (see #116).

Few days ago, I created a very simple example based on a fresh SF 5.0 installation : https://github.com/web-auth/demo-symfony

It has only 2 commits. The first one corresponds to the installation of symfony. The second one includes all dependencies, the re

[2020-03-06 18:55] Mazecreator commented on #121
Hi Spomky,

Strange, just tried the demo and it worked fine.  Here is some of the information collected:

Profile:
Username: user1.username
Creation date: 2020-03-06T18:47:37+00:00
Last login at:

Session:
Authenticator used:
vcbSsTmgZTtuy-HkPftOiyhoUh0835ReQGD5d6TnyuM
User was present: yes
User was verified: yes

Credentials:

ID:
vcbSsTmgZTtuy-HkPftOiyhoUh0835ReQGD5d6TnyuM
AAGUID: 00000000-0000-

[2020-03-06 19:58] Mazecreator commented on #121
Just tried the code again on Android and it threw this Exception, must have missed it before.  So it doesn't seem to work with either device.  Any ideas what might be off?

[2020-03-09 08:39] Spomky commented on #121
I feel reassured. The problem may come from many reasons.
Could you please add a logger to your services to understand what is going on?

Thank you for the data, but I also need the options to verify it.
Could you please generate new set of options/response?

[2020-03-09 18:51] Mazecreator commented on #121
Okay, i wrote a quick longer interface for Psr/Logger... Not awesome and not formatted great, but dumps the message & array sent to the logger interface.  I have them in TXT files.  I only formatted the bottom by hand for the Exception.  I have also attached the input object back from the JavaScript interface (web client) as well as the global variables present for the session.  The options is in

[2020-03-10 07:08] Spomky commented on #121
Hi @Mazecreator,

Thank you for the log entries.
I figured out where the error comes from. The [`Credential` Interface](https://www.w3.org/TR/credential-management-1/#the-credential-interface) from the specification does not require the presence of the `type` parameter.

However, the FIDO Alliance tool used to verify the compliance of the library has a test that fails if this parameter is missing.

[2020-03-10 07:27] Spomky commented on #121
Contrary to what I mentioned earlier, the spec [DOES require the `type` parameter](https://www.w3.org/TR/webauthn/#publickeycredential) with the value `public-key`.

It looks like the authenticator data you sibmet missed it.
Please have a look [at this demo](https://github.com/web-auth/demo-symfony/blob/master/templates/homepage/homepage.html.twig#L299-L307). The `type` parameter is set before it

[2020-03-10 18:37] Mazecreator commented on #121
Hi @Spomky ,

Okay, yes, it seemed like that parameter was missing but unsure where it got supplied and what it actually represented.  I was using this frontend:
https://github.com/apowers313/webauthn-yubiclone

It looks like the "type" was not included, I have hard coded it to "public-key" for now and will post a message on that github of the potential issue.  Hopefully it is that simple for now.

[2020-03-10 18:37] #121 closed

[2020-03-30 12:58] astec-mra opened #123 "Problem with Attestation statement format in Firefox"
Hello,
I use web-auth/webauthn-lib library (https://github.com/web-auth/webauthn-lib) to support FIDO2 and I am currently implementing the key registration process. When registering a token (YubiKey 5 NFC) on Google Chrome everything works fine, but on Firefox and Microsoft Edge I get this error:
"The attestation statement format "packed" is not supported.".
In the generatePublicKeyCredentialCreat

[2020-03-30 16:02] Spomky commented on #123
Hi @astec-mra,

Thank you for the issue.
I will check what is going on.

[2020-04-01 10:22] astec-mra commented on #123
I found the following information in the manual. If for PublicKeyCredentialCreationOptions::ATTESTATION_CONVEYANCE_PREFERENCE_NONE option I get non-zero aaguid, the library should replace the aaguid with 16 zero bytes, set "fmt" to "none" and set the value of "attStmt" to be an empty CBOR map.

![image](https://user-images.githubusercontent.com/51441997/78126158-5c00a180-7412-11ea-9ebb-525ea17f615

[2020-04-04 15:31] reedy opened #124 "Support ramsey/uuid ^4.0"
4.0.0/4.0.1 of ramsey/uuid have been released

https://github.com/ramsey/uuid/releases/tag/4.0.0
https://github.com/ramsey/uuid/releases/tag/4.0.1

[2020-04-04 15:32] reedy commented on #124
https://github.com/web-auth/webauthn-framework/pull/122 has tried to do this automatically....

[2020-04-05 11:11] jakobbraun opened #125 "Treat localhost as secure context"
For development it would be very helpful to treat localhost as secure context (like suggested [here](https://www.w3.org/TR/secure-contexts/#localhost)).

Right now I get the error message `Invalid scheme. HTTPS required.` on attestation response verification.

[2020-04-07 12:13] Spomky commented on #125
Agreed.

To avoid any security issue, the RP IDu (i.e. the domains) allowed to be used without https shall be explicitly defined.
I  will add an optional argument for that purpose.

[2020-04-07 12:17] Spomky commented on #124
#122 simply change ^3.8 into ^4.0.
I will change that to allow both ^3.8 and ^4.0 if possible otherwise this will be part of the next major release

[2020-04-07 12:18] Spomky commented on #123
Thank you @astec-mra,

The library will be updated to strip tho AAGUID and attestation object if not done by the RP.

[2020-04-07 12:26] astec-mra commented on #123
@Spomky Great, thank you very much. Do you have an approx. timeline for that?

[2020-04-08 20:39] Spomky commented on #123
The behaviour of Firefox is really strange.
It works fine on Linux (Ubuntu), but fails on Windows  (same version of Firefox for both OS).

I don’t know when a fix will be provided.
The problem is that we need to inject the options to the `AttestationObjectLoader` object (not a big fan of that solution), or fetch the MDS in the response validator instead of the attestation loader (better design eve

[2020-04-20 11:21] Spomky commented on #108
Hi @stale, this should not be closed

[2020-04-20 11:22] Spomky commented on #116
Hi @stale, this should not be closed

[2020-04-27 12:16] Spomky commented on #123
OK I found a solution.
It should be available by the end of the week.

[2020-05-02 11:43] Spomky commented on #124
Fixed in the new branch 3.2

[2020-05-02 11:43] #124 closed

[2020-05-02 11:43] Spomky commented on #123
Should be fixed in the new branch 3.2

[2020-05-02 11:43] #123 closed

[2020-05-02 11:44] Spomky commented on #125
Fixed in the new branch 3.2

[2020-05-02 11:44] #125 closed

[2020-05-03 18:10] michib commented on #123
@Spomky thanks for your amazing work. The error Message in the bug of nextcloud_twofactor_webauthn has changed, now it does not find the alg field of attStmt.

[code]

But this can also be an issue on the side of nextcloud_twofactor_webauthn, maybe by somewrong configured things.
Unfortunately i'm currently not able to debug the issue with my hardware. But as soon as i'm able to do this, i'll let

[2020-05-03 20:32] Spomky commented on #123
Hi @michib,

Let me know the result on you platform. The last release works now fine with on my environment (both Windows/Linux on Chrome or Firefox).
The [demo](web-token.spomky-labs.com/) has been updated as well.

[2020-05-03 22:56] #119 closed

[2020-05-05 15:34] rublon-mra commented on #123
@Spomky Thank you for updating the library.
I still have that problem during WebAuthn key registration process (where is used loadAndCheckAttestationResponse() method).
On Firefox and Microsoft Edge for YubiKey 5 NFC: "The attestation statement format "packed" is not supported." (on Chrome looks good).
This message is returning from AttestationObjectLoader class, line 80.

I removed third argument

[2020-05-05 15:45] Spomky commented on #123
OK got it!
I was only looking for a bug in the response validator, but you are using the built-in Server class.
It is now clear for me where is the error.
It will be fixed ASAP.

[2020-05-05 19:32] Spomky commented on #123
Hi @astec-mra,

It should be fine now with the last bug release v3.2.3

[2020-05-06 08:09] rublon-mra commented on #123
Thank you! I checked Firefox and Edge browsers and everything works fine!
Thank you for your help and fixes.
Good job!

[2020-05-11 20:31] Spomky commented on #116
The JS files will not be part of this framework.
I created [a dedicated package for that](https://github.com/web-auth/webauthn-helper). It is already used in the demo.

The controllers will be added in the next minor release (v3.3)

[2020-05-13 15:01] exptom opened #129 "Upgrading from v3.1.1 breaks registration of authenticators"
We have an implementation that follows the "easy way" example in your documentation. We first deployed this with v3.1.1 of your library.

We defined our composer dependency as `"web-auth/webauthn-lib" : "^3.1"` and had the following packages installed:
[code]
Following a composer update the package versions are now:
[code]
When attempting to add a new authenticator the following line of code:
[cod

[2020-05-13 16:51] Spomky commented on #129
Hi @exptom,

This should be fixed with ~`v3.2.6`~`v3.2.5`.
Can you check if the error is thrown with this version?

[2020-05-13 18:56] exptom commented on #129
Thanks for the quick turnaround on this but 3.2.6 doesn't appear to be available via packagist yet.

[2020-05-13 19:00] Spomky commented on #129
Sorry I meant `v3.2.5`

[2020-05-13 19:38] exptom commented on #129
I cannot seem to get it to upgrade past `3.2.3`, there seem to be some dependency changes that conflict with other packages and packagist cannot resolve to an installable set of dependencies.

[2020-05-13 20:11] Spomky commented on #129
There are changes between [v3.2.3 and v3.2.4](https://github.com/web-auth/webauthn-framework/compare/v3.2.3...v3.2.4) regarding the dependencies.

The main change is [`beberlei/assert`](https://packagist.org/packages/beberlei/assert) from `^3.0` to `^3.2`, but this modification does not add any other deps.

Can you try to force `^3.2.5` in your composer file and try `composer update`?
The error yo

[2020-05-14 07:53] exptom commented on #129
[code]
`switchsys/zf-mvc-default-frontend` is one of our internal packages which has a dependency on `kriswallsmith/assetic` which it looks like has a problem with the `symfony/process` dependency.

[2020-05-14 10:01] Spomky commented on #129
Thank you.

The problem comes from `kriswallsmith/assetic` that requires `"symfony/process": "~2.1|~3.0"`.

[`symfony/process`](https://github.com/web-auth/webauthn-framework/compare/v3.2.3...v3.2.4#diff-6db1befc15bf0ed55836b4407a7db5e0R31) was missing from the lib package.
Assetic looks to be abandonned (no commit for mors than 3 years).
As a quick resolution I think I can allow symfony process ^

[2020-05-16 13:06] Spomky commented on #129
`v3.2.6` allows `symfony/process: "^3.0"`. You should now be able to update the library.

[2020-05-18 08:55] exptom commented on #129
@Spomky Thanks for all your help. I can confirm that `v3.2.6` is installable and resolves the issue that I originally reported.

[2020-05-18 08:55] #129 closed, assigned to Spomky

[2020-05-25 11:19] rublon-mra opened #130 "Fetching the information about authenticator transport method"
Hello,
In my opinion the library should fetching the information about authenticator transport method, e.g. usb, internal.
Currently, method loadAndCheckAttestationResponse() from Server class always returns empty array in transports field.
In my application I need this information to distinguish between devices registered with USB and using Windows Hello function in Windows 10.
Can I block the po

[2020-05-25 12:12] Spomky commented on #130
Hi @astec-mra,

There are 2 possibilities to solve that.

Authenticators are separated into 2 groups: [Roaming and Platform authenticators](https://webauthn-doc.spomky-labs.com/webauthn-in-a-nutshell/authenticators). To prevent any roaming authenticators to be used (i.e. USB/NFC/BLE ones), you can set the [attachment modality](https://webauthn-doc.spomky-labs.com/deep-into-the-framework/authentica

[2020-05-25 13:28] rublon-mra commented on #130
@Spomky Thank you for the information. Everything seems clear now :)

[2020-05-25 13:28] #130 closed, assigned to Spomky

[2020-06-08 09:36] Spomky opened #131 "Allow stateless Option Storage"
**Is your feature request related to a problem? Please describe.**
At the moment, the attestation/assertion options are stored in the session (or similar depending on the needs).

**Describe the solution you'd like**
It could be great to allow stateless configuration to be used i.e. the options are sent in the server response.
The authenticator response is then sent back to the server with the opt

[2020-06-19 06:59] DarkGhostHunter opened #134 "residentKey key is not supported"
**Describe the bug**
When creating a new instance of `AuthenticatorSelectionCriteria`, the [`residentKey` parameter](https://w3c.github.io/webauthn/#dom-authenticatorselectioncriteria-residentkey) is not supported with any option.

**To Reproduce**
[code]

**Expected behavior**

Return the value of the `residentKey` as part of the attestation JSON:

[code]

**Screenshots**
None.

**Desktop (please

[2020-06-19 07:39] Spomky commented on #134
Hi @DarkGhostHunter,

None of the specification level 2 changes are supported. This is something that is planned.
I keep this issue opened for the moment. I concur with you the modification looks quitte easy to implement.
A dedicated branch will be created for that purpose.

[2020-06-20 16:53] Spomky commented on #116
Done

[2020-06-20 16:53] #116 closed

[2020-06-20 21:58] Spomky commented on #134
Done.
The changes will be available in `v3.3.0`

[2020-06-20 21:58] #134 closed, assigned to Spomky

[2020-06-20 22:00] Spomky commented on #131
Done

[2020-06-20 22:00] #131 closed, assigned to Spomky

[2020-06-21 12:58] Spomky opened #138 "Uncatched exceptions"
**Describe the bug**
The following messages are visible on client side:

*  [ ] Argument 1 passed to Webauthn\\StringStream::__construct() must be of the type string, null given, called in \/app\/vendor\/web-auth\/webauthn-lib\/src\/AttestationStatement\/AttestationObjectLoader.php on line 85"
*  [ ] Out of range. Expected: 32, read: 0.
*  [x] Argument 1 passed to Webauthn\\TokenBinding\\TokenBind

[2020-06-25 00:32] DarkGhostHunter opened #139 "[4.0] Test helpers"
I'm always frustrated when I try to mock a WebAuthn response from a virtual device. There is no library or something to return a WebAuthn response from a device for attestation and assertion and test the application flow.

**Describe the solution you'd like**
Test helpers.
[code]

This way we can use the package to integrate it to other frameworks or even vanilla PHP code.

**Describe alternatives

[2020-06-26 09:15] Spomky commented on #139
Hi @DarkGhostHunter,

Thank you for this idea.
I am not sure to understand what you expect here. Why don't you just [mock the reponse like here](https://github.com/web-auth/webauthn-framework/blob/3904e58b8f63e3c1a9acf1e3fdc911736a355ff9/src/webauthn/tests/unit/AuthenticatorAssertionResponseTest.php#L34-L42)? (test to be improved by the way...)

[2020-06-26 18:31] DarkGhostHunter commented on #139
Mainly because I wanted to check if the credentials where persisted correctly. These are transformed once these reach he database for storage purposes.

Since the public key is a bunch of binary code, being able to retrieve it and check against an assertion is impossible unless I mount an application and start checking manually.

[2020-06-30 04:29] DarkGhostHunter opened #141 "[4.0] Framework arquitecture"
After using the framework, seems that there are a lot of caveats and nuances the framework in its current states has:

* Using the `beberley/assert` unnecessary.
* Errors made by the framework should extend a common identifiable interface, like `WebAuthnValidationException`.
* Excessively large class names.
* Validation serial flow should use [Matryoshka-pipelines](https://medium.com/swlh/laravel-

[2020-06-30 07:29] Spomky commented on #141
Hi @DarkGhostHunter,

Thank you for this feedback. I will try to run into it ste by step as it contains a lot of suggestions/advices

I partially agree with you.
It is ok to introduce custom exceptions so that Webauthn errors can be correctly managed.
For assertions at the beginning of the classes, they are all part dedicated to a sanity check. I don't see any problem with the dependency. Please n

[2020-06-30 07:52] Spomky commented on #139
I understand your concerns, but how could this framework be able to manage integration tests from othet applications?
Do you think a dedicated trait could be added?

[2020-07-01 11:33] Spomky commented on #141
WIP. Please see #142

Eample with `Webauthn\PublicKeyCredentialCreationOptions`:

[code]

Chained calls will be possible from v3.3:

[code]

[2020-07-01 17:32] DarkGhostHunter commented on #141
PHP minimum version will be 7.4 after 6th december 2021. There is still a long way that to happen.

My point is that There are validation exceptions, and code errors. The first I think should be clearly identifiable and separated from developer-problems.

I have a list, but basically remove eveything that starts with "PublicKey".

Basically you send an object through many classes. The classes modi

[2020-07-01 17:33] DarkGhostHunter commented on #139
Yes, that should be enough. That allows to mock an authenticator response, and check how to proceed if, for example, the validator pushes a response that is not expected to the application, hence, the framework.

[2020-07-11 22:39] thexeos opened #143 "Origin verification"
For both, registration and verification, the following step is required:

Implementations are located here: [registration](https://github.com/web-auth/webauthn-framework/blob/7f041067f4c4225dd92aca6175d6a8b37ae8ee1b/src/webauthn/src/AuthenticatorAttestationResponseValidator.php#L112) and [verification](https://github.com/web-auth/webauthn-framework/blob/7f041067f4c4225dd92aca6175d6a8b37ae8ee1b/src

[2020-07-13 18:20] DarkGhostHunter opened #144 "[3.x] Update CBOR dependency to 2.0"
As title says. It should work without any problems for the framework. I think is safe to put `^1.0.2||^2.0.0`.

[2020-07-13 22:34] Spomky commented on #144
Hi @DarkGhostHunter,

Thank you for the reminder. This will be done soon.

Regards

[2020-07-17 08:47] srigi opened #145 "When jsonSerialize() CreationOptions, encode user entity as well"
**Is your feature request related to a problem? Please describe.**
When sending credential CreationOptions to the client, lib calls `$publicKeyCredentialCreationOptions->jsonSerialize()`. This encode `challenge` into base64. However, in mine implementation I'm storing a resident key `PublicKeyCredentialUserEntity::id`. It is a UUID in a binary form. jsonSerialize() is not encoding this binary data

[2020-07-17 09:10] Spomky commented on #145
Hi @srigi,

The user ID [should be encoded as well](https://github.com/web-auth/webauthn-framework/blob/7f041067f4c4225dd92aca6175d6a8b37ae8ee1b/src/webauthn/src/PublicKeyCredentialUserEntity.php#L81).

From what I see,
* If we call `json_encode($options)`, the ID is correctly encoded.
* If we call `$options->jsonSerialize()`, the ID is won't be encoded.

I will update the library and make sure `-

[2020-07-17 11:47] Spomky commented on #145
Closing as work is in progress in #147.
Let’s continue the discussion in the PR thread.

[2020-07-17 11:47] #145 closed, assigned to Spomky

[2020-07-21 13:37] ryden54 opened #148 "Apple's Anonymous Attestation support?"
**Is your feature request related to a problem? Please describe.**
Apple annouced it's support for web authentication through Touch Id and Face ID

It refer's to an "anonymous attestation" to avoid user tracking throughout their authenticator's attestation.

Do you have any info on how it can be handled with this package. Related to the attestation's format, or to the attestation's metadata ? Mayb

[2020-07-21 14:32] Spomky commented on #148
I don't know what is behind the Apple's "Anonymous Attestation". According to the Webauthn specification, there are 2 anonymous attestation types: `none` and `ecdaa`.

* If it refers to the `none` type, it is already supported and **it is the default and recommended type** (see [disclaimer here](https://webauthn-doc.spomky-labs.com/deep-into-the-framework/attestation-and-metadata-statement)).
* If

[2020-07-25 10:55] m33x opened #150 "[3.x] Documentation of User Authentication is Outdated/Wrong"
**Describe the bug**
The documentation says one needs to call `authenticatorAssertionResponse->check()` to authenticate a user. However, the class `authenticatorAssertionResponse` does not offer a `check()` function, instead it needs to be the `authenticatorAssertionResponseValidator` class.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the current documentation](https://webauthn-do

[2020-07-27 12:08] ryden54 commented on #148
Thank you for your answer.
I guess we'll have to wait to find out.

[2020-07-27 13:05] ryden54 opened #151 "metadata statements for Windows Hello and Android"
First, thanks for you work, it's usefull & clean!

**Is your feature request related to a problem? Please describe.**
I have to check authenticator metadata during the attestation ceremony (ATTESTATION_CONVEYANCE_PREFERENCE_DIRECT).
I used your library in version 3.2 "symfony style", as showed in your demo.
The UpdateMetadataStatementRepositoryCommand does work, but at already stated by you & othe

[2020-07-29 05:34] Spomky commented on #151
Hi @ryden54,

The current situation is not ideal. The specifications for the MDS/communication with the MDS servers are drafts and, as you already know, main ones (such as Google, Microsoft, Yubico) are absent from the FIDO Alliance API.
Therefore we all have to deal with our own repositories. I hope in the future the FIDO Alliance repository will reference most of the metadata statements, but for

[2020-07-29 08:08] ryden54 commented on #151
Thank you for your answer.
To build these "singleStatements", from what I understand, we need at least the aaguids and the root certificates.
You mentionned the references for the certificates.
For the aaguids, I've found:
- [Yubico](https://support.yubico.com/support/solutions/articles/15000028710-yubikey-hardware-fido2-aaguids)

- [SoloKeys](https://docs.solokeys.dev/metadata-statements/) as you

[2020-08-01 16:06] Spomky commented on #150
Good catch! This is now fixed.
You may have missed it, but you can propose modifications directly from the documentation. Anyway I really appreciate any comment/typo reports.

Thank you.
Regards.

[2020-08-01 16:06] #150 closed, assigned to nobody

[2020-08-01 16:08] Spomky commented on #144
Closing as done in v3.3 branch that will be released soon.
Many thanks

[2020-08-01 16:08] #144 closed, assigned to Spomky

[2020-08-01 16:33] #143 closed, assigned to Spomky

[2020-08-01 16:36] Spomky commented on #143
Thank you. This is now fixed in v3.2.8.

Best regards

[2020-08-03 13:50] ryden54 commented on #151
for Windows Hello, I was was pointed to this comment https://github.com/abergs/fido2-net-lib/pull/166#issuecomment-634918824
providing 3 static metadata statements, but one without "root certificate"

[2020-08-07 01:30] szepeviktor opened #152 "Certificate problem in unit tests"
**Describe the bug**
There are failing [unit tests](https://github.com/web-auth/webauthn-framework/blob/3904e58b8f63e3c1a9acf1e3fdc911736a355ff9/src/webauthn/tests/functional/AttestationStatementWithTokenBindingTest.php#L41)
https://travis-ci.org/github/web-auth/webauthn-framework/jobs/714186359#L240

Could you start me up to fix them?

[2020-08-31 19:17] anita-tenjarla opened #153 "Authenticator assertion does not check user present (UP) flag [section 7.2.12]"
**Describe the bug**
The authenticator assertion logic does not check if User Present (UP) flag is set. According to the [webauthn spec](https://www.w3.org/TR/webauthn/#verifying-assertion), section 7.2.12 says:

However, in code (as best as I can tell) this step is skipped (https://github.com/web-auth/webauthn-framework/blob/v3.2/src/webauthn/src/AuthenticatorAssertionResponseValidator.php#L162)

[2020-08-31 19:42] #153 closed, assigned to nobody

[2020-08-31 19:47] anita-tenjarla commented on #153
Woah that was quick, thanks so much!

[2020-08-31 19:47] Spomky commented on #153
Hi @anita-tenjarla,

Thank you for this issue. I have just merged the PR #154 and tagged `v3.2.9` to fix it.

[2020-09-02 16:55] ryden54 commented on #151
The Fido MDS2 was updated during the month of august, and the Windows Hello & Android Authenticator are now present
everything's ok

[2020-09-02 16:55] #151 closed, assigned to Spomky

[2020-09-02 16:57] Spomky commented on #151
Thank you for letting me know.
I will update my repository cache.

BR

[2020-09-09 10:38] jmalinens opened #156 "Allowing adding webauthn authentication to existing user"
This is more like support request from me.
I am using Symfony bundle and there are 2 route groups:

* /register (it creates new user with webauthn)
* /login (it logins user with webauthn)

If there is existing user database there should be 3rd option:
* /add_webauthn

which would enable adding webauthn authentication to existing users.

I can not use /register endpoint as there is check in src/Sec

[2020-09-09 12:10] Spomky commented on #156
Hi @jmalinens,

This feature is described in the documentation at https://webauthn-doc.spomky-labs.com/v/v3.0/deep-into-the-framework/register-authenticators (lots of typos here ; this page should be updated…).
With the next minor release 3.3, this feature will be  directly supported using simple configuration options. (see https://webauthn-doc.spomky-labs.com/v/v3.3/deep-into-the-framework/regist

[2020-09-13 13:19] Spomky commented on #148
Update: https://twitter.com/IAmKale/status/1304986950554644480
It llooks like its a brand new format… without any documentation at the moment

[2020-09-22 10:21] ryden54 commented on #148
Here is a dump of the $attestationObject after getNormalizedData in AttestationObjectLoader
indeed a "apple" attestation statement format

The related doc seems to be https://developer.apple.com/documentation/devicecheck/validating_apps_that_connect_to_your_server in the section "Verify the Attestation"

Here is another fwk referencing information about it https://github.com/abergs/fido2-net-lib/i

[2020-09-23 08:25] #138 closed, assigned to Spomky

[2020-09-29 07:15] jmalinens commented on #156
@Spomky  closing issue as https://webauthn-doc.spomky-labs.com/v/v3.0/deep-into-the-framework/register-authenticators was exactly what I wanted

[2020-09-29 07:15] #156 closed, assigned to Spomky

[2020-10-01 15:27] BenjaminHae opened #215 "Login with inexistent username leads to login with user associated to key-pair"
I've registered one user `test` on the [demo server](https://webauthn.spomky-labs.com/).
When trying to login with the user `test2`, the response to `/api/login/options` sends back an empty array for the key `allowCredentials`. However, the browser (chrome) still starts the authentication. The response to the challenge is then calculated using the key-pair for `test`. As a result I'm logged in as

[2020-10-03 20:13] digitalshow opened #157 "webauthn-symfony-bundle: id field of PublicKeyCredentialUserEntity"
I want to add Webauthn support to my Symfony application. I have an existing user entity with a numeric id field. If I get it right the webauthn-symfony-bundle forces me to use PublicKeyCredentialUserEntity as a base class for my user entities. Now that class defines the id field containing the user handle, but my class already has an id field.

[Here](https://github.com/web-auth/webauthn-framewor

[2020-10-03 21:26] Spomky commented on #157
Hi @digitalshow,

No you are not forced to extend any class for your Symfony application.

What you should do is to:
* add a new property to your current user entity (let say `webauthnId`). This property shall be a string and unique.
* add a new method that will return the associated `PublicKeyCredentialUserEntity` object.

Next, you can create a repository that implements `Webauthn\Bundle\Reposit

[2020-10-04 12:33] digitalshow commented on #157
Hi @Spomky,

thanks for the explanation. When I do that, how will Symfony know of my user entity after login? Won't Symfony use the `PublicKeyCredentialUserEntity` as the user so my own user entity will effectively not be used?

[2020-10-04 14:01] Spomky commented on #157
The firewall will find the `PublicKeyCredentialUserEntity` during the authentication ceremony.
Both this object and the Symfony UserInterface have the same unique information: the username.
Your Symfony user will be retrieved [during the authentication process using the User Provider and its username](https://github.com/web-auth/webauthn-framework/blob/v3.2/src/symfony/src/Security/Authentication/

[2020-10-05 15:12] ryden54 commented on #148
I did some tests, based on the packed attestation statement support class
Implementing the ASN.1 attribute check in the certificate, for the signature
But the iphone on ios 14 keeps on sending an aaguid filled with zeros, preventing any match with the statements repository and certificate chain check.
It looks like the first point of the issue reported here https://developer.apple.com/forums/threa

[2020-10-06 07:04] Spomky commented on #148
Thank you for the links.

To get the AAGUID, you must ask for a `direct` or `indirect` attestation statement.
If `none` is used and [as per the specification](https://www.w3.org/TR/webauthn/#createCredential): `Replace the AAGUID in the attested credential data with 16 zero bytes.`
In any cases, this should not prevent from verifying the signature. Essential data is supposed to be in the attestati

[2020-10-06 11:02] szepeviktor commented on #152
Please help.

[2020-10-06 12:52] ryden54 commented on #148
I do check that the hash of the attestation challenge and the attested authenticator data matches, that's ok (the hash is in the extensions of the first certificate of the attestation statement, as stated in apple's doc)

The issue is that I get the zero-filled aaguid in the authenticator's response, whenever I'm asking for a direct or indirect attestation statement.
I can't find online any refere

[2020-10-07 07:19] joostd commented on #148
You can preview documentation from Apple's [Jiewen Tan](https://twitter.com/alanwaketan) here:
https://pr-preview.s3.amazonaws.com/alanwaketan/webauthn/pull/1491.html#sctn-apple-anonymous-attestation

[2020-10-07 07:46] Spomky commented on #152
Hi @szepeviktor,

I've just pinned that issue to prevent stale from closing it.
THis is definitively something that will be addressed.
Nevertheless, it requires some modifications first and I need time to do it.

[2020-10-07 08:06] Spomky commented on #148
Excellent! Thank you.
By the way I started to implement some features of this new version of the specification.
I will create an `experimental` package with this new format.

[2020-10-26 08:42] ryden54 commented on #148
don't know if this one is more reliable, but it matches what we saw https://webkit.org/blog/11312/meet-face-id-and-touch-id-for-the-web/
they confirm the aaguid is all zero and the counter is not used

[2020-11-22 22:39] Spomky commented on #148
Closing as the Apple Attestation Format will be available in [the next minor release `v3.3.0`](https://github.com/web-auth/webauthn-framework/blob/v3.3/src/webauthn/src/AttestationStatement/AppleAttestationStatementSupport.php).

[2020-11-22 22:39] #148 closed, assigned to Spomky

[2020-11-22 22:40] Spomky commented on #157
Closing as answered.
Feel free to open it again if deemed necessary.

[2020-11-22 22:40] #157 closed, assigned to Spomky

[2020-11-22 23:19] Spomky commented on #152
Closing as we now use Github Actions in favour of Travis-CI

[2020-11-22 23:19] #152 closed, assigned to Spomky

[2020-11-22 23:49] szepeviktor commented on #152
I understand.
Hype vs. mature product.

[2020-12-14 17:20] leonelvsc opened #162 "[Symfony] Non scalar value in extensions"
**Is your feature request related to a problem? Please describe.**
As the RFC states https://www.w3.org/TR/webauthn/#sctn-authenticator-biometric-criteria-extension , that extension is a dictionary ( assoc array in php ).

When Symfony process the configuration of the bundle it expects a scalar value
![DeepinScreenshot_select-area_20201214141922](https://user-images.githubusercontent.com/2332029/1

[2020-12-14 21:33] Spomky commented on #162
Hi @leonelvsc,

Thank you for reporting this issue.
A patch was applied and this should be fixed with `v3.2.11`.

[2020-12-15 11:34] leonelvsc commented on #162
In `Configuration.php` line `213` it's still on `scalarPrototype`, that option just applies to the creation profile?, i ask because i don't have a full knowledge of the webauthn framework

[2020-12-21 12:48] TimWolla opened #163 "SimpleMetadataStatementRepository missing, but mentioned in Docs"
**Describe the bug**

In https://webauthn-doc.spomky-labs.com/deep-into-the-framework/attestation-and-metadata-statement#basic-repository-implementation the `Webauthn\MetadataService\SimpleMetadataStatementRepository` class is mentioned, but it is nowhere to be found in the `web-auth/metadata-service` composer package.

**To Reproduce**

Steps to reproduce the behavior:

1. `composer require web-a

[2020-12-21 18:04] Spomky commented on #162
Hi @leonelvsc,

I forgot answering your question.
You are right absolutely. The [line 213](https://github.com/web-auth/webauthn-framework/blob/v3.2/src/symfony/src/DependencyInjection/Configuration.php#L213) has also been changed to accept arrays. This change is shipped with `v3.2.12`

Regards.

[2020-12-30 19:32] ChristophWurst opened #164 "Php 8 compatibility"
**Is your feature request related to a problem? Please describe.**

Nextcloud is preparing for php8. We're looking at our dependencies and make sure we update/fix the ones that are not ready for php8. ``web-auth/webauthn-lib`` is one of them.

**Describe the solution you'd like**

Fix any php8 incompatibility and declare php8 as compatible via composer.

**Describe alternatives you've considered**

[2021-01-04 06:58] ChristophWurst commented on #164
Fixed for v3.3 apparently https://github.com/web-auth/webauthn-framework/pull/165#issuecomment-752743617

[2021-01-04 06:58] #164 closed, assigned to nobody

[2021-01-08 20:04] #162 closed, assigned to Spomky

[2021-01-09 13:34] Spomky commented on #164
Hi @ChristophWurst,

V3.3 has been released. Please start with `v3.3.1` to have full compatibility with PHP8.
Do not hesitate to warn me if something went wrong with this new branch.

BR.

[2021-01-11 08:01] ChristophWurst commented on #164
It seems to work flawless so far. Thanks a lot :v:

[2021-01-12 13:15] ildyria opened #168 "web-auth/cose-lib requires "beberlei/assert": "^3.2" => No PHP 8 support"
**Describe the bug**
`web-auth/cose-lib` requires `"beberlei/assert": "^3.2"`

As stated in `beberlei/assert` version 3.2.7 (maximum possible given the composer.json) only support PHP 7.

`beberlei/assert` version 3.3.1 supports PHP 7 and PHP 8.

[2021-01-12 13:18] Spomky commented on #168
Hi @ildyria,

I am not sure to clearly understand the issue. With the rule "^3.2", the version 3.3.x can be installed.

[2021-01-12 13:19] jdreesen commented on #168
`^3.2` allows installation of `3.3.1`.

[2021-01-12 13:24] ildyria commented on #168
Hi @jdreesen @Spomky. First of all, thank you for your prompt answer. :+1:

Hummm. :thinking:

[2021-01-12 13:33] ildyria commented on #168
I will try to understand why it is locked to version 3.2.7 then. Something weird is going on with my composer. Thanks.

[2021-01-12 13:33] #168 closed, assigned to Spomky

[2021-01-12 13:39] Spomky commented on #168
Maybe another dep. `composer why beberlei/assert` should help.
[Tests on PHP8.0 pass with ``v3.3.1` of this framework](https://github.com/web-auth/webauthn-framework/actions/runs/477484581)

[2021-01-15 09:27] jmalinens opened #169 "Wrong symfony service definition for Webauthn\AuthenticatorAttestationResponseValidator class"
**Describe the bug**
Looks like there is wrong service definition which breaks Symfony 4.4 integration

https://github.com/web-auth/webauthn-framework/blob/v3.3/src/symfony/src/Resources/config/services.php#L44
https://github.com/web-auth/webauthn-framework/blob/v3.3/src/webauthn/src/AuthenticatorAttestationResponseValidator.php#L79

Error:
[code]

[2021-01-15 12:45] Spomky commented on #169
Hi @jmalinens,

Thank you for reporting this issue.
The service definition looks good. No logging service is set here, only the required arguments.
A logger is set by calling `setLogger` using a [dedicated compiler pass](https://github.com/web-auth/webauthn-framework/blob/v3.3/src/symfony/src/DependencyInjection/Compiler/LoggerSetterCompilerPass.php).
In addition, the service that is passed is nam

[2021-01-15 15:45] jmalinens commented on #169
[code]

[2021-01-15 16:50] Spomky commented on #169
Great. Thank you.
Can you please try without the `@`?
The compiler pass already injects the logger [as a Reference](https://github.com/web-auth/webauthn-framework/blob/v3.3/src/symfony/src/DependencyInjection/Compiler/LoggerSetterCompilerPass.php#L48) hence it looks like it is redundant.

[2021-01-15 17:32] jmalinens commented on #169
thanks, I will look into it monday!

[2021-01-18 07:44] jmalinens commented on #169
thanks! changing `@monolog.logger` to `monolog.logger` fixed the issue

[2021-01-18 07:44] #169 closed, assigned to Spomky

[2021-01-18 07:56] Spomky commented on #169
Thank you for your feedback. I will update the documentation for that use case.

[2021-01-26 14:52] Spomky opened #171 "Safe lib used in cose-lib while not required in composer"
See https://github.com/web-auth/cose-lib/commit/0ba9ba076238d22a1d8737e84c3caa3e16c7c876#commitcomment-46382872

[2021-01-29 22:27] Spomky commented on #215
Hi @BenjaminHae,
Thank you for your patience.

That's correct. When the username does not exist, the application generates a challenge and an empty list of credential.
If you get authenticated with another username, this is because the browser has found credentials (resident key) and you are fully identified by the authenticator (PIN, fingerprint, facial recognation...).
With simple touch-like aut

[2021-01-30 13:52] yrccondor opened #173 "Failed to create Server instance when metadataStatementRepository is not provided since 3.3"
**Describe the bug:**
Failed to create Server instance when `metadataStatementRepository` is `null` since version 3.3.

Looks like this change was introduced in 33a39a9 and shipped in 3.3.0, where `setMetadataStatementRepository` required an instance of `MetadataStatementRepository` and `null` is invalid.

**To Reproduce:**
When I call
[code]
I got `Argument 1 passed to Webauthn\Server::setMetadat

[2021-01-30 14:16] yrccondor commented on #173
And also:
- `AndroidSafetyNetAttestationStatementSupport::enableApiVerification` doesn't accept `null` arguments since 3.3, which means I must provid things like Google API Key
- `AttestationObjectLoader::setLogger` and `PublicKeyCredentialLoader::setLogger` doesn't accept `null` arguments since 3.3, which means I must provid a logger instance

Does this an intentional change?

[2021-02-01 07:46] Spomky commented on #173
Hi @yrccondor,

I confirm this is not the desired behavior.
It is resolved by #170 and will be available soon.

I will close this issue want tagged.
Regards.

[2021-02-05 16:12] ryden54 opened #175 "facetid from extensions for clientDataJson"
Hello

in https://github.com/web-auth/webauthn-framework/blob/2d82c62d047cfb23fc682f840103ab0ad95f59c0/src/webauthn/src/AuthenticatorAttestationResponseValidator.php#L375
this test is always true, as the get method return an object

I think the test should be
`case true !== $authenticationExtensionsClientOutputs->get('appid')->value()`

also on line 379, as the method expects to send a string, sho

[2021-02-12 17:06] arokettu opened #176 "$server->loadAndCheckAttestationResponse crashes with TypeError (since 3.3)"
[code]

Works in 3.2, crashes in 3.3 with
[code]

It probably needs a check whether $this->googleApiKey is actually set. I don't use it and I don't need it

[2021-02-16 10:32] lukewarlow opened #177 "3.3 code refactor has broken the library"
**Describe the bug**
Moving from passing arguments to constructors, to using setter functions has broken many parts of the Server.php class.

**To Reproduce**
Instantiate an instance of Server.php without configuring a logger, or Android safetynet (potentially other things too). Then call loadAndCheckAttestationResponse and it will error about nulls being passed to not nullable arguments.

An exam

[2021-02-16 10:33] lukewarlow commented on #176
It isn't just this line that's broken, not setting a logger is also broken and I imagine other stuff might be too. https://github.com/web-auth/webauthn-framework/issues/177

[2021-02-16 14:26] #177 closed, assigned to nobody

[2021-02-16 21:53] gambry opened #179 "Do not rely on SensioFrameworkExtraBundle for PSR-7 support on symfony bundle"
**Describe the bug**

With [Remove PSR-7 support](https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/710)  `sensio/framework-extra-bundle` doesn't have PSR-7 message support from version 6.0.

**To Reproduce**

Steps to reproduce the behavior:
1. Require `sensio/framework-extra-bundle` (either no version, or >= 6.0).
2. Add the snippet below, as per [official guide](https://webauthn-doc

[2021-02-16 21:55] gambry commented on #179
Projects have started moving to other bundles, see https://github.com/trikoder/oauth2-bundle/issues/261 for example moving to [ajgarlag/psr-http-message-bundle](https://github.com/ajgarlag/psr-http-message-bundle).

[2021-02-16 22:05] Spomky commented on #179
Hi @gambry,

Actually this bundle was something I wanted to integrate to the Webauthn bundle.
I am not in favor of adding a new bundle in replacement to the previous one as it may break some applications.

[2021-02-21 19:26] TimWolla commented on #163
This issue is not yet resolved.

[2021-03-27 08:10] gambry commented on #179
🤔 it would be nice to collaboratively work on a single replacement, but I also agree with you about adding a new bundle could break things.

I may be able to help on this. I've never played with PSR-7 myself, but I'm happy to give it a try.
How do you want to proceed? Do you want to create a bundle within this framework or add PSR-7 support as part of `web-auth/webauthn-symfony-bundle`?

[2021-04-09 11:40] willbrowningme commented on #168
If anyone else runs into this issue it is likely that you are running `composer update` from a machine that still has php7.4 instead of php8.0. This solved it for me, I hadn't upgraded to php8.0 locally so it would not install `baberlei/assert v3.3.0`.

[2021-04-16 20:03] Spomky commented on #179
Hi,

I close this issue as it is now part of the new branch v4.0 (not stable yet).
Thank you for pointing this out.

[2021-04-16 20:03] #179 closed, assigned to Spomky

[2021-04-16 20:04] Spomky commented on #176
Hi,

This issue should be fixed with the `v3.3.4`.
Can you confirm it is fine for you now?

[2021-04-16 20:06] Spomky commented on #175
Hi,

You are right, this part does not work as expected.
It has been reviewed in the new v4.0 branch, The modification will be backported to the v3.3 branch.

[2021-04-16 20:07] Spomky commented on #173
Hi,

This should be fixed with v3.3.4.
Can you confirm the error is gone with the latest version?

[2021-04-16 20:08] Spomky commented on #108
Done in v4.0

[2021-04-16 20:08] #108 closed

[2021-04-17 19:37] #175 closed, assigned to Spomky

[2021-04-17 19:44] Spomky commented on #175
Hi,

This should be fixed with the tagged release `v3.3.5`.

[2021-04-18 07:06] arokettu commented on #176
3.3.3 works for me, 3.3.4 crashes on `PublicKeyCredentialSource::createFromArray(PublicKeyCredentialSource::jsonSerialize())` with $otherUI is unset or something, but that's a separate issue

This issue can be closed

I need to look at my work project tomorrow to open this new one, but I'm currently satisfied with locking to 3.3.3

[2021-04-18 22:59] tvdijen commented on #171
Bump

[2021-04-19 19:40] yrccondor commented on #173
Hi,

what does `otherUI` do? Looks like it's webauthn-related.

https://github.com/web-auth/webauthn-framework/blob/3439e8e8ce5bd24dacd2962bcaff61cb4b4d21ac/src/webauthn/src/PublicKeyCredentialSource.php#L81

In https://github.com/web-auth/webauthn-framework/blob/3439e8e8ce5bd24dacd2962bcaff61cb4b4d21ac/src/webauthn/src/PublicKeyCredentialSource.php#L190 it checks if the instance have all the keys

[2021-04-19 19:57] Spomky commented on #173
Hi,

This should be fixed with `v3.3.7` (my mistake, I missed deploying this tag).
`otherUI` is introduced by the new [Webauthn Level 2 spec](https://www.w3.org/TR/webauthn-2/#public-key-credential-source-otherui)

[2021-04-19 20:23] yrccondor commented on #173
Hi,

unfortunately it still doesn't work.

https://github.com/web-auth/webauthn-framework/blob/6109cbe179ec94b8fe155226b4c4e943b2c5159e/src/webauthn/src/PublicKeyCredentialSource.php#L188 will return a array with integer keys so https://github.com/web-auth/webauthn-framework/blob/6109cbe179ec94b8fe155226b4c4e943b2c5159e/src/webauthn/src/PublicKeyCredentialSource.php#L189 doesn't work.

I made a qu

[2021-04-19 20:24] Spomky commented on #173
Correct. I've patch the method and added tests to make sure BC is ensured.
Should be fine now (`v3.3.8`).

[2021-04-19 20:41] yrccondor commented on #173
cool, I confirm everything is working now. Thanks for your awesome work!

[2021-04-19 20:41] #173 closed, assigned to Spomky

[2021-04-20 06:48] #176 closed, assigned to nobody

[2021-05-02 19:43] Spomky commented on #179
THis will also be backported to `v3.3`

[2021-05-02 20:22] Spomky commented on #171
Hi,

This is now fixed in `v3.3.9`.
Let me know if you have any trouble with this version.

[2021-05-02 20:22] #171 closed, assigned to Spomky

[2021-06-02 15:59] TimWolla commented on #163
This issue is not yet resolved.

[2021-06-03 15:40] #139 closed, assigned to Spomky

[2021-06-03 15:41] #141 closed, assigned to Spomky

[2021-06-16 20:32] djpremier opened #186 "UserRepository need extend ServiceEntityRepository"
**Describe the bug**
The service "App\Repository\UserRepository" must implement ObjectRepository (or extend a base class, like ServiceEntityRepository).

**To Reproduce**
https://webauthn-doc.spomky-labs.com/the-webauthn-server/the-symfony-way/entities-with-doctrine#the-repository-1

*Please provide a script that can be used to reproduce the bug.*

Steps to reproduce the behavior:
1. Go to '...'
2

[2021-06-21 10:12] Spomky opened #187 "Migrate the security feature to the new Symfony Security system"
**Is your feature request related to a problem? Please describe.**
The Security feature from the bundle uses the old security system.
A brand-new system exists and the old one will be deprecated.

**Describe the solution you'd like**
The security feature shall be updated.

**Describe alternatives you've considered**
None

**Additional context**
None

[2021-07-26 20:56] leonelvsc commented on #162
This was deprecated from standard i see, is there any way of force biometric authenticator and disable ie: PIN authenticator?

[2021-07-26 22:10] Spomky commented on #162
Hi,

The UVM extension seems to be a possible solution for your use case.
Have a look at this page https://www.w3.org/TR/webauthn-2/#sctn-uvm-extension

[2021-08-03 09:00] TimWolla commented on #163
This is resolved with web-auth/doc@7b45e844af491ac99f2a2128cee1b55e525016c3.

[2021-08-03 09:00] #163 closed, assigned to Spomky

[2021-08-23 10:06] Spomky opened #188 "MDS v3"
**Is your feature request related to a problem? Please describe.**
The Metadata Statement Server v3 specification is a proposed standard.
It should be supported here.

**Describe the solution you'd like**
Update the current implementation using https://fidoalliance.org/specs/mds/fido-metadata-statement-v3.0-ps-20210518.html

**Describe alternatives you've considered**
None

**Additional context**

[2021-08-24 13:47] #186 closed, assigned to nobody

[2021-10-14 09:46] TimWolla opened #192 "Use Paragonie's constant time encoding library"
**Is your feature request related to a problem? Please describe.**

Not a problem per se. The webauthn-framework is a security library. As such I believe it should do its best to protect against any types of attacks, theoretical or not.

The current encoders and decoders are affected by cache timing leaks (or at rather: They are not defined to be immune). This attack vector should be closed by mak

[2021-10-20 15:06] aaronpk commented on #35
It looks like this is still called "relaying" in the docs.

![image](https://user-images.githubusercontent.com/113001/138119811-12090b75-f005-446d-948d-2a37a7905c08.png)

I wasn't able to find the source repository for the doc site otherwise I would have sent a PR to fix it myself.

[2021-10-20 15:14] Spomky commented on #35
Oh! Looks like I wrote the doc while sleeping 😴.
Let me take care of this.

[2021-10-20 18:26] Spomky commented on #35
Hi @aaronpk,

The doc is now up to date.
The source repository is in https://github.com/web-auth/doc
Feel free to ask if anything is unclear, I will do my best to help you.

Regards

[2021-10-20 18:30] aaronpk commented on #35
Excellent thanks!

Sorry I missed finding it in that repo before, I didn't realize it was all behind tags!

[2021-10-23 07:48] Spomky commented on #192
Hi,

I agree with you. I created the `spomky-labs/base64url` library because of the lack of base64 Url encoding in PHP (this is still the case!).
But I concur with you, this library in not safe against constant time attacks. This library from PIE is a good alternative.

[2021-10-25 10:41] TimWolla commented on #192
@Spomky Thanks for the positive feedback. Would you like me to perform the changes? Would this be acceptable for the v3.3 target branch?

[2021-10-27 12:03] timoschwarzer opened #193 "web-auth/cose-lib does not depend on web-token/jwt-core"
**Describe the bug**
The `web-auth/cose-lib` package uses `Jose\Component\Core\Util\BigInteger` from `web-token/jwt-core` but does not depend on it, resulting in class-not-found errors when not `require`ing the latter manually.

**To Reproduce**

Steps to reproduce the behavior:
1. In a fresh project, require `web-auth/cose-lib` and use e.g. `web-auth/cose-lib/src/Algorithm/Signature/RSA/PSSRSA.ph

[2021-11-15 18:25] TimWolla opened #195 "Not compatible with PHP 8.1, due to fgrosse/phpasn1 dependency"
**Describe the bug**

I've already casually mentioned it in #189: The dependency for ASN.1 processing is not currently compatible with PHP 8.1 and it does not appear to still be maintained by the author.

There is an upstream PR fixing PHP 8.1 compatibility: fgrosse/PHPASN1#87. However upstream's CI is not compatible with PHP 8.0 and still relies on the effectively dead Travis (I've opened an upst

[2021-11-16 08:46] Samuel-Bie opened #196 "Integration With Laravel"
I am a laravel developer, and i want to integrate this into my project, i've been googling for hours and cant find a way to archieve that.

Any clue or roadmap to follow.

[2021-11-16 10:40] Spomky commented on #196
what about https://github.com/asbiin/laravel-webauthn

[2021-11-16 10:46] Samuel-Bie commented on #196
Solved with https://github.com/DarkGhostHunter/Larapass

[2021-11-16 10:46] #196 closed, assigned to nobody

[2021-11-21 11:14] #193 closed, assigned to Spomky

[2021-11-21 11:30] Spomky commented on #193
Hi,
This should be fixed in `v3.3.10`.
Feel free to reopen if deemed necessary.

Regards.

[2021-11-21 12:11] Spomky commented on #195
Hi,

Thank you for reporting this issue.
In the last v3.3 commits, I activated tests on PHP 8.1 and everything is fine.
It looks like this use case is not tested. I will investigate on it.

[2021-11-21 12:49] TimWolla commented on #195
I believe GitHub Actions by default does not show deprecation notices. See my issue in this repository: https://github.com/MyIntervals/emogrifier/issues/1117

These are the results of running the tests locally (in Docker):

[code]

[2021-11-26 00:49] LauLaman opened #198 "[Symfony] Documentation error"
**Describe the bug**
on the [Symfony firewall documentation](https://webauthn-doc.spomky-labs.com/the-webauthn-server/the-symfony-way/firewall) a `UserProvider` is described. on line 29 of the `src/Repository/UserRepository.php`, doctrines generic `find()` is being used to loopup the user. This will never work as doctrine will try to retrieve using the objects identifier (primary key) and we want

[2021-11-26 00:53] LauLaman commented on #198
one other small remark: `UsernameNotFoundException` has been deprecated in favor of `UserNotFoundException` (since Symfony 5.3)

[2021-11-26 17:02] Spomky commented on #198
Hi,

Thank you for posting this issue.
Actually, there is no mistake here from my point of view.

The bundle can be install on Symfony 4.4 and 5.x therefore the `UserNotFoundException` and `findOneByIdentifier` introduced in recently release Symfony version cannot be used in other ones. With that being said, you are right to say that new features should be used instead of deprecated ones.

Regardi

[2021-11-28 13:48] LauLaman commented on #198
@Spomky you're right about the deprecations. however with Symfony 6 around the corner maybe update the example to the latest and add a note for < Symfony 5.3

i could not find the repository for the documentation otherwise i would have created a pR

[2021-12-02 20:58] grambas opened #200 "Missing dependency in composer.json"
**Describe the bug**
`webauthn-framework/src/cose/src/BigInteger.php` uses 2 functions from Safe namespace (`thecodingmachine/safe`):
[code]
But this package is not listed as required dependency in composer.json

[2021-12-04 00:54] xmav commented on #195
Hi @Spomky! Do you have updates by any chance ?

[2021-12-04 02:14] xmav commented on #195
Is there a chance that similar compatibility issue will be fixed in https://github.com/web-token/jwt-framework soon?

[2021-12-04 07:38] Spomky commented on #195
Hi @xmav,

I am working on it, but no ETA at the moment.
I noted in the log the following message:

Could you please install one of the extensions and let me know the result?

[2021-12-04 10:38] TimWolla commented on #195
Whoops, sorry about this. It does not change much about the deprecation notices in PHP 8.1. It appears that they do not lead to test failure, though:

[code]

[2021-12-04 12:14] #200 closed, assigned to nobody

[2021-12-04 12:23] Spomky commented on #200
Hi @grambas,

This should be fixed with `v3.3.11`.
I close this issue, but feel free to reopen if necessary.

Regards.

[2021-12-04 14:20] Spomky commented on #195
Thank you for the feedback @TimWolla.
In any cases I really think we can get rid of fgrosse@phpasn1.
This is a good library, but only few features are used and such dependency does not help when upgrading for one PHP version to another.
I think it is worth integrating some parts of the library that are used here.

[2021-12-07 11:42] Tsjippy opened #201 "Where to get help?"
**Describe the bug**
I have followed the documentation using both the php composer package as the js package.
If I enable the "virtual authenticator environment" in chrome the registration goes fine.
With real devices it does not work and I get confusing reports:

Windows 11 laptop with Windows Hello configured with a fingerprint scanner:
   Firefox:
      The operation failed for an unknown trans

[2021-12-08 11:22] TimWolla commented on #195
I can give a PoC implementation for Ec2Key, but this is not a complete implementation. It probably also makes sense to get the CI green first, because including this.

[2021-12-09 22:14] andrewbess commented on #195
Hello @TimWolla @Spomky
The `fgrosse/phpasn1` extension has been released https://packagist.org/packages/fgrosse/phpasn1#v2.3.1

[2021-12-09 22:18] TimWolla commented on #195
Yes. For your reference I ran the updated tests:

[code]

A few tests to webauthn-framework itself are required, but this looks much better now.

[2021-12-10 09:18] Tsjippy opened #202 "Create possibility to set transports to internal"
**Is your feature request related to a problem? Please describe.**
As far as I know you cannot set the transport modes easily. This is very annoying for me as I want to set it to internal, to prevent asking for external keys.

**Describe the solution you'd like**
It would be great if we could set transportmode to internal manually or automatically if AuthenticatorSelectionCriteria is set to AUTHEN

[2021-12-10 09:19] Tsjippy commented on #201
The problem was caused by the icon not being valid

[2021-12-10 09:19] #201 closed, assigned to nobody

[2021-12-10 09:44] Spomky commented on #202
Hi,

Since Webauthn 2, there is a [`getTransports()`](https://www.w3.org/TR/webauthn-2/#dom-authenticatorattestationresponse-gettransports) method that allows us to know the allowed modes between the client and the authenticator.
This version of the specification is not completely implemented here, but this is definitely something that will be.

This new method will help solving that issue.

[2021-12-10 12:29] Tsjippy opened #203 "Check if a device is already registered"
**Is your feature request related to a problem? Please describe.**
First of all this is a great library thank you!

As far as I know you cannot know if a device has already been registered or not.
So I offer users who already have registered their biometrics a register button.
If they register again it will fail.

It would be good if I could query to see if they have been registered.

**Describe t

[2021-12-10 16:46] Spomky commented on #203
Hi @Tsjippy,

You cannot check if an authenticator is already registered, but you can exclude them and prevent them from being registered several times for the same user handle and RP.

This is explained [on this page](https://webauthn-doc.spomky-labs.com/the-webauthn-server/the-easy-way/register-a-new-authentication), especially the `$excludeCredentials` variable.
This feature is explained in the

[2021-12-11 05:41] Tsjippy commented on #203
Thanks,

yes I already made it in such a way that reregistering will fail.

But I just thought of a simple solution: if a user logged in with webauthn, it means they have it enabled for that device so I don’t have to show the register biometric button.

thanks

[2022-01-04 07:41] Spomky commented on #192
Changes addressed in v4.0.

[2022-01-04 07:41] #192 closed, assigned to Spomky

[2022-01-19 09:19] e1sep0 opened #204 "empty allowCredentials list is not supported on this device"
Hi,
I want to use usernameless authentification, after registering device, i store data in database.
When I tried log in via "Key login/FIDO2/WebAuthn" than popup is shown: "Validation failed: Use of an empty allowCredentials list is not supported on this device.". Is android not supported yet? Thank you

[2022-02-09 18:55] ThibaudDauce opened #206 "Symfony 6 support"
Laravel 9 switched to Symfony 6 components and this library is not compatible with Symfony 6.

Is Symfony 6 support possible? Or is it hard and will to be before some time?

Thanks for the great package!

PS: I'm using only the https://github.com/web-auth/webauthn-lib package to provide WebAuthN feature to my login page.

[2022-02-18 07:11] Spomky commented on #206
Hi @ThibaudDauce,

We need to update some dependencies first (in particular the web-token stuff).
This suite is the next one on the list.

[2022-02-18 08:06] ThibaudDauce commented on #206
Thanks for your response, do you have a estimated deadline for the v4? If you want, my company can sponsor this update (depending on the cost :-) )

[2022-03-06 18:15] HLeithner opened #213 "Undocumented GMP extension usage in 2.1"
**Describe the bug**
In Version 2.1 of cose-lib in gmp_strval is used but not required by based on the composer.json. We at Joomla! uses version 2.1 in core and can't upgrade to Version 3.3 because this would likely break our SemVer policy.

Now the question is, can you backport the fix from 3.3:
[code]

to the 2.1 branch

https://github.com/web-auth/cose-lib/blob/v2.1/src/Key/RsaKey.php#L186-L189

[2022-03-16 07:18] Spomky commented on #206
Hi @ThibaudDauce,

I don't have an ETA at the moment. I have just completed the implementation of the Symfony 6 authentication system.
The next step is to adhere to the Metadata Statement (MDS) v3 specification, as this is now the official standard. Without this, the framework will not pass Fido Alliance testing.
I think it should be done by the end of March (I'll do my best to have it by then).
N

[2022-03-23 10:30] Spomky commented on #188
Done in v4.0 branch

[2022-03-23 10:30] #188 closed, assigned to Spomky

[2022-03-23 10:30] Spomky commented on #187
Done in v4.0 branch

[2022-03-23 10:30] #187 closed, assigned to Spomky

[2022-03-30 20:06] #195 closed, assigned to Spomky

[2022-03-30 20:06] #198 closed, assigned to Spomky

[2022-03-30 20:06] #202 closed, assigned to Spomky

[2022-03-30 20:06] #203 closed, assigned to Spomky

[2022-04-01 01:58] prolonginc commented on #206
Hello @Spomky  i was wondering if this is still in progress and if there was an ETA on it. I really appreciate your hard work on this and was just wondering if this going to be released i could wait on one of my projects on it.

thanks again.

[2022-04-01 04:25] Spomky commented on #206
Hi @prolonginc,

It is ready. I am tuning the last details to make sure it fulfill with the Fido Alliance Test Tool.
I think it will be released today.

[2022-04-01 12:26] prolonginc commented on #206
You are the best @Spomky  :) thank you thank you

[2022-04-01 17:20] tydoo commented on #206
Thanks you @Spomky  :)

[2022-04-01 18:21] lea-ger opened #214 "Problem when registering new users on Windows"
Hi,

I am trying to use this package and always run into an issue when trying to register new users. This issue seems to only appear when using Windows Hello, as I've tested this on a colleague's MacBook and it worked there seamlessly. I first thought that this was an issue with my configuration but it appears that the same issue can be found on the [demo page](https://webauthn.spomky-labs.com/reg

[2022-04-01 18:49] Spomky commented on #214
Hi @lea-ger,

I am sorry  but I cannot reporduce the issue on my computer (Windows 11)
Could you please send me:

* the attestation option (response body of POST `/attestation/options`)
* the authenticator response (request body of POST `/attestation/result`)

Both are JSON objects

[2022-04-01 23:16] lea-ger commented on #214
Hello @Spomky,

- The attestation object:
[code]

- The authenticator response:
[code]

In this case, it resulted in this response:
[code]

[2022-04-02 08:12] Spomky commented on #214
Many thanks.

The structure looks good, but the attested credential data returned by the authenticator has an invalid public key ID length (43793 bits is way too long)

The authenticator data (in hex, spaces added) is `9604ea82824e98a4ada14b4462d0d73a8ec469130da91b19307459229f74a359
 45
 00000000 000020de96bb6f97c4ee8cc7402918b8 ab11 f9ee22bc25f56373ba54b62ec379c5cdeba401030339010020590100b581a1a9

[2022-04-03 13:02] Spomky commented on #206
Hi,

Version 4.0.0 is now available.
The documentation is also up to date. Please refer to the [migration path](https://webauthn-doc.spomky-labs.com/migration/from-v3.x-to-v4.0) (especially if you are using the MDS or Symfony Flex).

Let me know if you have any problems or if I missed explaining some changes in the documentation.

[2022-04-03 13:02] #206 closed, assigned to Spomky

[2022-04-04 22:26] lea-ger commented on #214
The computer itself is a HP notebook and the TPM chip was manufactured by AMD.

Using a roaming authenticator (in this case I used a Yubico Security Key NFC) doesn't seem to work for me either. Here is the authenticator response:
[code]

[2022-04-05 05:45] Spomky commented on #214
Hi,

Many thanks for the details. I extracted the attestation object and I am still facing the same issue.
The first bytes are correct: same RP ID hash, same flags, counter is 1. But the key length and the following bytes (public key) are still invalid.
Regarding the AAGUID, I was expecting [one of those listed on the Yubico page](https://support.yubico.com/hc/en-us/articles/360016648959-YubiKey-H

[2022-04-05 06:01] Spomky commented on #204
Hi @e1sep0,

I confirm that if the `allowCredentials` is missing or empty you can't login on Android.
This works fine on other plaform such as Windows.
For usernameless authentication, the user shall be verified and a resident key shall be asked. Is it the case?

Regards.

[2022-04-05 06:31] e1sep0 commented on #204
Thank you, so this system is not suitable for my project

[2022-04-05 06:31] #204 closed, assigned to Spomky

[2022-04-05 09:31] lea-ger commented on #214
Hi,

yes, I am using Firefox and indeed that seems to be the issue. I was able to successfully register using MS Edge.
Thanks for linking the Bugzilla issue, I hope this will be worked on soon.

Thanks a lot for your help and your patience!

[2022-04-05 09:31] #214 closed, assigned to Spomky

[2022-04-06 18:54] Spomky commented on #204
Hi @e1sep0,

I haven't say you can't perform usernameless authentication. This is just that this feature requires specific conditions to be used.
Especially, a resident key and user verification (PIN, fingerprint...) is mandatory during the credential creation. In addition, note that if the smartphone is not genuine (jailbreak or custom Android OS), this may fail.

Regards.

[2022-04-07 05:10] tydoo opened #216 "Symfony 6 - Dependency on a non-existent service "Webauthn\MetadataService\MetadataStatementRepository""
**Describe the bug**
After install on symfony 6, error "Dependency on a non-existent service"

**To Reproduce**
`composer require web-auth/webauthn-symfony-bundle`

**Desktop (please complete the following information):**
 - Windows 11
 - Chrome 100

Trace :
[code]

[2022-04-07 07:44] #216 closed, assigned to nobody

[2022-04-07 07:49] Spomky commented on #216
Hi @tydoo,

This should be fixed with the v4.0.2.
Let me know if it is not the case.

Regards.

[2022-04-07 07:52] tydoo commented on #216
Thanks, its resolved

[code]

[2022-04-07 08:25] Spomky commented on #216
Excellent.
Also please note that there is a dedicated repository for the Flex Recipes (https://webauthn-doc.spomky-labs.com/the-webauthn-server/the-symfony-way#with-symfony-flex)
The symfony contrib one will be decommissioned (I don't know when). I recommend you to use the dedicated one just by typing `composer config --json extra.symfony.endpoint '["https://api.github.com/repos/web-auth/recipes/c

[2022-04-08 02:58] tydoo opened #218 "Username field is required on symfony 6"
**Describe the bug**
On symfony 6, the `username` field is required.

**Expected behavior**
Use `email` field or `userIdentifier()` method

[2022-04-08 03:37] tydoo opened #219 "Impossible to add token to a account already exist"
How to add a token to a account already exist ?

In symfony 6, i use /register and its dosent works.

Error :
<img width="502" alt="image" src="https://user-images.githubusercontent.com/50534204/162357949-383347bb-e350-4301-9c8f-5fe1d022fb20.png">

I dont understant how to add a token to a account already exist.

Thanks to help me to understand how to take this.

My project : https://github.com/ec

[2022-04-08 07:32] tydoo commented on #219
I found with you demo app...

But its very hard to understand because the doc is not completly updated.

Possible to update the doc ?

Thanks

[2022-04-08 08:14] Spomky commented on #219
The `/register` paths you declare in the `security.yaml` are dedicated for new user registration.
You should use the `controller` options showed in https://webauthn-doc.spomky-labs.com/deep-into-the-framework/register-authenticators#the-symfony-way to allow users adding their own authenticators.
I have just modified this section.

[2022-04-08 08:32] #219 closed, assigned to nobody

[2022-04-08 14:16] Spomky commented on #218
I am not sure to clearly understand what you expect here.
Can you elaborate more on this?

[2022-04-08 14:40] tydoo commented on #218
On Symfony 6, username field are removed for useridentifier.

So in your script you use username instead of useridentifier.

This is duplicate because we are obliged to put the email in the username field of the user.

[2022-04-09 07:33] Spomky commented on #218
OK I know the changes with the UserInterface, but the bundle don't rely on it

[2022-04-09 18:46] tydoo opened #220 "Login with security Key (Yubikey) dosent works"
**Describe the bug**
Login with a `YubiKey 5 Series with NFC` dosent woks.

**To Reproduce**
Login with a `YubiKey 5`

**More infos :**

- I set the passwordless function. Save username on device.
- Login with a `Windows Hello Hardware Authenticator`, a fingerprint device works corectly.
- The `YubiKey 5 Series with NFC` is registered corectly, but the signature is not recognised by Symfony.

I vi

[2022-04-09 18:47] #218 closed, assigned to nobody

[2022-04-09 19:32] Spomky commented on #220
Hi,

Can you share the options returned by the server (response body) and the authenticator response (request body)?

[2022-04-09 19:40] tydoo commented on #220
`https://localhost:8000/login/webauthn/options` :

Request body :
[code]

Response body :
[code]

[2022-04-09 19:57] Spomky commented on #220
The options returned by the server (response body) corresponds to the response body of `/login/webauthn/options`
 The authenticator response (request body) corresponds to the request body of the second POST request.

[2022-04-09 20:53] tydoo commented on #220
TRY on my first PC : Dont works

`https://localhost:8000/login/webauthn` :

Request body :
[code]

Response body :
[code]

Fun fact : I try on a 2nd PC with the same config (Same apps, same chrome) ... and its works !

I dont understand why on my first PC, its dont works.

[2022-04-09 21:00] tydoo commented on #220
TRY on my 2nd PC : Work !

`https://localhost:8000/login/webauthn/options `:

Request body :
[code]
Response body :
[code]

`https://localhost:8000/login/webauthn`:

Request body :
[code]
Response body :
[code]

[2022-04-09 21:01] tydoo commented on #220
**Important info** : When a change of PC, i re-register the key, for overwrite the `localhost` infos saved on the key

[2022-04-11 17:43] tydoo commented on #220
@Spomky I found the problem.

I didn't have the php extension bcmath.

Thanks ;)

[2022-04-11 17:43] #220 closed, assigned to nobody

[2022-04-11 18:21] Spomky commented on #220
🤔this is strange because you normally don't need BCMath nor GMP. Under the hood, it uses [brick/math](https://github.com/brick/math), a library that acts as a wrapper and helps to compute signatures with or without those extensions.

        https://localhost:8000/login/webauthn/options :

        Request body :

        {
            "attestation": "direct",
            "authenticatorSelection":

[2022-04-11 18:49] tydoo commented on #220
Hum ... Ok, i retry now when its works :

`https://localhost:8000/login/webauthn/options` :

Request :
[code]

Response :

[code]

`https://localhost:8000/login/webauthn` :

Request :
[code]

Response :

[code]

[2022-05-05 08:59] hiniestic opened #223 "Webauthn\Bundle\Security\Firewall\RequestListener::__construct() error in V3.3"
**Describe the bug**
I'm trying to setup a test project on SF5.4 with PHP7.4, so I'm using webauthn-symfony-bundle:"^3.3". When trying to setup the configuration as the documentation I get:
`Argument 6 passed to Webauthn\Bundle\Security\Firewall\RequestListener::__construct() must be an instance of Webauthn\Bundle\Repository\PublicKeyCredentialUserEntityRepository, instance of App\Repository\Publi

[2022-05-05 09:13] hiniestic commented on #223
Documentation page https://webauthn-doc.spomky-labs.com/v/v3.3/pre-requisites/user-entity-repository is not correct. Class should be:

use Webauthn\Bundle\Repository\PublicKeyCredentialUserEntityRepository as PublicKeyCredentialUserEntityRepositoryInterface;
use Webauthn\PublicKeyCredentialUserEntity;

final class PublicKeyCredentialUserEntityRepository implements PublicKeyCredentialUserEntityRepo

[2022-05-05 09:13] #223 closed, assigned to nobody

[2022-05-05 11:49] Spomky commented on #223
Correct. The documentation should be updated.

[2022-05-16 13:01] hiniestic opened #225 "The service "App\Repository\PublicKeyCredentialUserEntityRepository" must implement ObjectRepository (or extend a base class, like ServiceEntityRepository)."
I'm trying to run a project just with this bundle but with autowire: false.
I have set up webauthn.yml as:

[code]

and my service.yml is:

[code]

But I get the issue The service "App\Repository\PublicKeyCredentialSourceRepository" must implement ObjectRepository (or extend a base class, like ServiceEntityRepository).

I have try the bundle in a new project with autowire: true and works ok, but c

[2022-05-17 07:35] hiniestic commented on #225
Solved, if any one need to do this, the service should be:

[code]

[2022-05-17 07:35] #225 closed, assigned to nobody

[2022-06-03 17:06] tydoo opened #229 "HOW TO check role from user BEFORE auth"
Hello,

How to check a role from user before auth ?

Possible to make a custom authenticator like Response Handlers ?

Thanks

[2022-06-03 17:45] Spomky commented on #229
Hello,

To get the roles, you need the user so it needs to be authenticated.
I don't see any possibility to get roles before the user is authenticated.

What is the use case?

[2022-06-03 17:47] tydoo commented on #229
During the authentication phase, I would like to check that the user has the "LOGIN" role which gives him the right to authenticate.

If the user does not have this role, then authentication is not performed.

[2022-06-03 17:50] Spomky commented on #229
It looks like you need user checkers: https://symfony.com/doc/current/security/user_checkers.html

[2022-06-04 00:50] tydoo commented on #229
Ok thanks you :)

[2022-06-04 00:50] #229 closed, assigned to nobody

[2022-06-18 12:55] claudiodekker opened #234 "PublicKeyCredentialCreationOptions: `attestation` and `authenticatorSelection` can be omitted(?)"
According to MDN, both the `attestation` and `authenticatorSelection` options can be omitted:
https://developer.mozilla.org/en-US/docs/Web/API/CredentialsContainer/create

This seems to be backed up by the W3 spec, which states that the default for `attestation` is `none` (and as such can be implied when missing), as well as that the `authenticatorSelection` serves as a 'filter' of sorts that as s

[2022-06-22 11:21] Spomky commented on #234
Hi,

Many thanks for reporting this.
As far as I remember, the properties are set because they are needed by the FIDO Alliance Certification Tools.
I must double-check that first before changing the behavior.

[2022-06-22 11:27] Spomky commented on #213
Hi,

You are right. However the v2.x branch is not maintained anymore and I will not change the behavior.
In the last version, the library `brick/math` is used and it will use either GMP, BCMath or pure PHP functions depending on the platform.
With that being said, I am open for any proposal / PR to address this issue.

Regards.

[2022-06-23 07:56] HLeithner commented on #213
Hi @Spomky

thanks for your feedback we already solved this problem in another way.
So we don't have this problem anymore.

regards

[2022-06-23 07:56] #213 closed, assigned to nobody

[2022-06-29 11:50] schniko opened #240 "Missing return declaration"
Hi,

unfortunately, I'm not able to make a pull request, but I found this little fix: In webauthn-symfony-bundle/src/Routing/Loader.php the function
public function load($resource, string $type = null)
should be declared as
public function load($resource, string $type = null): mixed

The line throws a deprecation error in Symfony 6 (which this bundle is for).

Thanks in advance
Nicolai

[2022-07-12 20:25] mbursa commented on #104
I am still running into this issue using branch 4.0.
`PublicKeyCredentialCreationOptions` contains raw (decoded challenge).
When registering a client one loads the data received from the browser:
[code]
The last line gets challenge in base64-encoded form, however, in `$authenticatorAttestationResponseValidator->check()` this is compared with `PublicKeyCredentialCreationOptions` (decoded) and it fa

[2022-07-13 19:52] Nevercold opened #241 "Android Error"
Hey! I don't know if this is correct and if I'm in the right place. But I just ask.

I get the error when I get the login or register option.
On Windows with Windows Hello or iOS with TouchID (iPhone 6s, iOS 15) it works.

Please Help me!

"DOMException: Either the device has received unexpected request parameters, or the device cannot support this request." / NotSupportedError

**Smartphone (plea

[2022-07-13 19:59] Spomky commented on #241
Hi,

To overcome the issue, you should set the `isResidentKeyRequired` parameter to false when creating the credential.

It most likely means that you are trying to register a device that is not capable of (or does not allow) the use of resident keys.

[2022-07-13 20:02] Nevercold commented on #241
Thanks for the fast reply!
But don't I need this if I want to allow username/password free login?

[2022-07-13 20:18] Nevercold commented on #241
Have now set it to false via "setRequireResidentKey(false)" . Still same error.

[code]

[2022-07-14 03:55] Spomky commented on #241
Yes, username/password free login is also known as "discoverable WebAuthn/FIDO credential" or more simply "passkeys".
It requires a resident key and the user verification.

But for some reasons, it may fails and you should add a way for users to use:
* passkeys (`isResidentKeyRequired`=`true`, `residentKey`=`required` and `userVerification`=`required`)
* username/webauthn (`isResidentKeyRequired`=

[2022-07-14 06:40] Nevercold commented on #241
I think, Android dont support that yet.

is there a method to check if passkeys are available on the Device?

[2022-07-14 06:59] Spomky commented on #241
Implementations are subject to nuances at the browser app and OS level, but to my knowledge there is no reason for it to fail on Android. Or it may be caused by a root mode enabled on this Android device.

No, you cannot. That's why the authentication flow should also include the possibilty for the user to set its username.
In addition, the device may be temporarily used by another user and it won

[2022-07-14 07:03] Nevercold commented on #241
So currently I have it like this:
There is once the password-free login on the Start of the Loginpage. And there is Fido2 as a 2-factor method after Login (Username+Password).
I would just have to adjust the registration process to make this work.
I think, thats good.

I tried it on several devices (Android 10, 11, 12) and it didn't work on any of them.
All are not rooted.

[2022-07-15 19:18] Nevercold commented on #241
Hey,

on normal Login (webauthn) i get the error: "User Handle is mandatory" how i can fix that?

[code]

[2022-07-16 14:11] Spomky commented on #241
When passkey is not available, the userHandle shall be set (last parameter).
With this mode, you must:

* Ask for the username
* Return options for the selected user (with allowedCredentials list set with the credential descriptions)
* When receiving the authenticator response, validate it with the user handle you get from the username

[2022-07-16 18:07] Nevercold commented on #241
and how i get the userhandle?
The only way i found is
`$userHandle = $authenticatorAssertionResponse->getUserHandle();`
but return is empty.

[2022-07-16 18:12] Nevercold commented on #241
found the way.
```$key = $this->publicKeyCredentialSourceRepository()->findOneByCredentialId($publicKeyCredential->getRawId());```works.

Thanks for the many help!

[2022-07-18 20:33] Spomky commented on #241
No, the user handle get be retrieve from the User Entity. It corresponds to [the user id](https://github.com/web-auth/webauthn-framework/blob/v4.0/src/webauthn/src/PublicKeyCredentialUserEntity.php#L32).
In your case, the user is `{"name": "Niekold","id": "MQ","displayName": "Moritz Walter"}` and the user handle should be `"1"`.

By the way, user id/handle should be a random string instead of some

[2022-08-06 02:13] aseigler opened #242 "TPM attestation parser does not correctly handle ECC keys in pubArea"
**Describe the bug**

When parsing the unique field from pubArea during an attestation verification, unique is a TPM2B_PUBLIC_KEY_RSA only if the TPMI_ALG_PUBLIC is TPM_ALG_RSA. If TPMI_ALG_PUBLIC is TPM_ALG_ECC, unique is a TPMS_ECC_POINT. See TPM Rev 2.0 part 2, structures, section 12.2.3.2.

**Additional context**

Relevant code is at:
https://github.com/web-auth/webauthn-framework/blob/2da8b14

[2022-08-12 16:00] Spomky commented on #242
Hi @aseigler,

Many thanks for reporting it to me.
I am not sure how to address and test it.
To be honest, TPM stuff is pretty obscure to me. I found [this post from Yuriy](https://github.com/w3c/webauthn/issues/984#issuecomment-402542094) years ago and it still scares me 😱

[2022-08-12 16:01] Spomky commented on #240
Hi @schniko,

You are right. I will change that in the next release.
Many thanks

[2022-08-12 16:30] aseigler commented on #242
Ah, yes.  There is a link in that post to a [bit of javascript](https://github.com/webauthn-open-source/fido2-lib/blob/f9a0f8bbb3b173f17b1664df7263d7bda8bce424/lib/attestations/tpm.js#L173) that tells the story.

[code]

Problem is, no example of TPM being used outside of RSA keys was available until very recently, and as a result several implementations don't handle the other key type, ECC.

For

[2022-08-23 20:57] Spomky commented on #241
Closing as answered

[2022-08-23 20:57] #241 closed, assigned to nobody

[2022-08-29 17:25] Spomky commented on #240
Hi,

This will be addressed in the version `4.1.0` to be released soon (see https://github.com/web-auth/webauthn-framework/blob/4.1.x/src/symfony/src/Routing/Loader.php).

Regards.

[2022-08-29 17:25] #240 closed, assigned to Spomky

[2022-08-29 19:53] Spomky commented on #242
Hi @aseigler,

Many thanks for the information and links you shared. This was really helpful!
I am going to address this issue in the new major release. In #250, I can parse and validate the sample you shared here above.

👍🏽

[2022-08-29 20:06] aseigler commented on #242
Looks good!  You can lose the 14, 16, and 18 cases in `getUnique(),` those don't apply to this TPM usage.  You'll only see TPM_ALG_RSA or TPM_ALG_ECC there.

[2022-08-29 20:14] Spomky commented on #242
Oh ok. Good to know that.
I've just removed those cases.

Many thanks

[2022-08-29 20:24] #234 closed, assigned to nobody

[2022-08-29 20:33] #242 closed, assigned to Spomky

[2022-08-31 14:23] TimWolla opened #256 "Bug Report issue template is broken"
see the red box here: https://github.com/web-auth/webauthn-framework/blob/4.2.x/.github/ISSUE_TEMPLATE/1_Bug_report.yaml

[2022-08-31 14:28] TimWolla opened #257 "Base64::decodeUrlSafe() validation is inconsistent"
In `Webauthn\Util\Base64::decodeUrlSafe()` the `Assertion` at the beginning rejects `=` (i.e. the padding character), but when decoding with the constant time decoder the `::decode()` method instead of `::decodeNoPadding()` is used. This is inconsistent and requires the decoder to do extra work.

[2022-08-31 14:56] mayestik1 commented on #257
I am facing the issue "Invalid Base 64 Url Safe character"
`[stacktrace]
#0 vendor/beberlei/assert/lib/Assert/Assertion.php(779): Assert\\Assertion::createException()
#1 vendor/web-auth/webauthn-lib/src/Util/Base64.php(16): Assert\\Assertion::regex()`

Any fixes please?

[2022-08-31 15:46] Spomky commented on #256
Many thanks. I ve just fixed it.

[2022-08-31 15:46] #256 closed, assigned to nobody

[2022-08-31 15:54] Spomky commented on #257
Hi @TimWolla,

This is correct, the method `Webauthn\Util\Base64::decodeUrlSafe()` could be avoided in favor of a direct call to `ParagonIE\ConstantTime\Base64::decodeNoPadding()`.
The framework do it this way because when I started to use this dependency, the available version was `2.4` and this method did not exist (was introduced in `2.6`).
I try to keep things working and to avoid BC breaks, I

[2022-08-31 15:58] TimWolla commented on #257
Thanks for the explanation, makes sense.

[2022-08-31 16:06] Spomky commented on #257
@mayestik1

Can you elaborate more on this? What is the input data?

[2022-08-31 16:36] #257 closed, assigned to Spomky

[2022-08-31 18:55] szepeviktor opened #261 "Add test-flag-fail-on-uncovered.sh to CI"
### Description

https://github.com/web-auth/webauthn-framework/blob/5.0.x/.github/workflows/test-flag-fail-on-uncovered.sh could be replace by one CI step.

### Example

[code]

[2022-09-01 12:05] Spomky commented on #261
Many thanks:
It motivated me fixing the deptrac configuration (see #262)

I noted the test fails but it shouldn't. I guess `test "$?" -eq 1` should be `test "$?" -eq 0`.
Usually `0` means not it exited without error right?

[2022-09-01 12:31] szepeviktor commented on #261
If you accept only "Okay" exit status then there is no need for extra code!
[code]

[2022-09-01 12:54] Spomky commented on #261
Indeed... I guess I should read some tutorials to remind me how bash scripts works...

[2022-09-01 13:12] #261 closed, assigned to nobody

[2022-09-01 14:37] szepeviktor opened #266 "nproc command does not produce output in CI"
### Version(s) affected

5.0.x

### Description

https://github.com/web-auth/webauthn-framework/blob/05d74f3e3ae7d328cc51cc806ac212d3659a2cbe/Makefile#L40

### How to reproduce

[code]

on my server it outputs `4` with user permissions (no root)

### Possible Solution

I do not know!!

### Additional Context

![kép](https://user-images.githubusercontent.com/952007/187941450-a5b5f444-6b76-4bf5-9e90

[2022-09-01 15:24] Spomky opened #270 "Allow tests to run faster"
### Version(s) affected

4.2.x

### Description

Integration and functional tests are slow.
This is due to the real dataset from FIDO Alliance that is used for testing the Symfony Bundle and some other specific use cases.

### How to reproduce

See CI results

### Possible Solution

The tests should be modified so that:

* [ ] The FIDO Alliance dataset is only used in a selected number of tests to

[2022-09-01 19:23] #266 closed, assigned to nobody

[2022-09-01 19:57] #270 closed, assigned to Spomky

[2022-09-08 07:51] Parsk opened #281 "RS256 signature validation fails (Invalid signature)"
Only gotten this error with Windows Hello (happens every time) that uses RS256. Yubikey that uses ES256 works perfectly. Also biometric login via an Android phone works correctly.

I've tried with both a clean laravel-webauthn install as well as with our custom implementation. Version 3.x worked as expected.

Could it be some inconsistency with base64urlsafe?

I apologize for not being able to pro

[2022-09-08 07:58] Spomky commented on #281
Hi,

RSxxx algorithms are known to be very slow if GMP or BCMath extension are missing.
Can you make sure one of these extensions is installed (they are only suggested by the library)?

In addition, the v4.2.0 (to be released soon) addresses several bugs and features. Especially, the issue #242 allow a better RSA alg support for TPM (and Windows Hello).
Would you mind to test with the branch 4.2.x

[2022-09-08 08:03] Spomky commented on #27
`ECDAA` references will be removed from this library as this attestation type is no longer used in Webauthn level 2 and up.

[2022-09-08 08:19] Parsk commented on #281
Hi,

Thanks for a very quick reply. php8.1-bcmath & php8.1-gmp are both installed.

I tested v4.2.0 with my own implementation and unfournanelty it did not work, I was unable to test with laravel-webauthn as it seems to have Base64UrlSafe issues when both registering and authing after version 4.0.5.

I am forced to Base64UrlSafe the response authenticatorData and clientDataJSON prior to loading th

[2022-09-08 08:26] Spomky commented on #281
Indeed, there may be a problem of encoding. The version `4.1.x` is fully compliant with the Webauthn specification and encoding rules have been fixed. Normally, this does not imply any changes on your side, but I would like to make sure of it.
Can you send me both the options (`PublicKeyCredentialRequestOptions` object) and the authenticator response (`AuthenticatorAssertionResponse ` object)? (pr

[2022-09-08 08:43] Parsk commented on #281
Many thanks again for taking a look, I've changed the rpID below from the real value.

(Redacted unnecessary debug data)

[2022-09-08 09:03] Spomky commented on #281
Many thanks. Actually, I meant as json objet.

[2022-09-08 09:17] Parsk commented on #281
Ah of course, my apologies. I seem to be unable to json_encode the AuthenticatorAssertionResponse probably due to the bytecode characters. So below is the data prior to being loaded into the credential loader.

(Redacted unnecessary debug data)

[2022-09-08 16:19] Spomky commented on #281
Perfect.
Just one more thing: I need the public key associated to the ID `j0YQVw4ddPgNBmZIEpNi3DOwIz2fM9VqUPucYf9BGwQ`. Can you share it with me?
This public key should be available through your credential repository. The `PublicKeyCredentialSource` object can be encoded into JSON as well.

[2022-09-08 16:27] Parsk commented on #281
Sure thing, heres the public key:
(Redacted unnecessary debug data)

[2022-09-08 17:01] Spomky commented on #281
Excellent. Many thanks.
I isolated the bug. It was due to the `web-auth/cose-lib` dependency.
This should works now when updating this dependency to `4.0.7`.

Let me know if it is all good now.

Kind regards

[2022-09-08 17:10] Parsk commented on #281
Aww yiss, it works! Thank you so much for taking your time to debug and for this awesome library!

[2022-09-08 17:22] #281 closed, assigned to nobody

[2022-09-10 16:20] Spomky commented on #215
Almost 2 years later, I must admit there is no way to address it.
The fact is that for preventing user data leak, it is better to continue the authentication flow. This avoid username enumeration (https://www.w3.org/TR/webauthn-3/#sctn-username-enumeration).
When a user already has an account, it will be prompted to sign-in. If username-less capabilities are enabled, the user verification is requi

[2022-09-10 16:20] #215 closed, assigned to Spomky

[2022-09-10 16:20] #27 closed

[2022-09-18 09:18] Nevercold opened #285 "decodeNoPadding() doesn't tolerate padding"
Hey,

After upgrading from 4.0.5 to 4.2.0, I get the following error during password read login

decodeNoPadding() doesn't tolerate padding

what can I do about it?

Full Error: https://gist.github.com/Nevercold/fcb84bde9203ca85adfaf3f402337790

[2022-09-18 09:20] Nevercold commented on #285
Code: https://gist.github.com/Nevercold/86e951e63f3932790ef8f461f3b49de5

[2022-09-18 15:16] Spomky commented on #285
Hi,

Starting with v4.1.0, this framework is fully in line with the Webauthn specification.
If it does not tolerate the padding, this is because the specification and the compliance test tool provided by the FIDO Alliance do not tolerate either.
See https://www.w3.org/TR/webauthn-2/#sctn-dependencies:

I am sorry if sticking to the specification requirements induces breaks for clients, but it seem

[2022-09-27 07:48] Spomky commented on #2
Token binding is removed from the specification lvl2. See https://github.com/w3c/webauthn/pull/1630

[2022-09-27 07:48] #2 closed

[2022-09-27 07:49] Spomky opened #296 "Remove Token Binding"
### Description

As per https://github.com/w3c/webauthn/pull/1630, token binding is removed from the specification.
This feature should also be deprecated and removed from the library and bundle.

### Example

_No response_

[2022-09-27 08:35] Spomky opened #297 "Symfony bundle should set an empty pubKeyCredParams list"
### Description

The Symfony bundle sets a list of algorithms for `[pubKeyCredParams`.
This list should be empty so that default algorithms are used. For specific purpose only, the list can be configured with a custom list or algorithm order.

### Example

See: https://github.com/web-auth/webauthn-framework/blob/4.2.x/src/symfony/src/DependencyInjection/Configuration.php#L330-L342

Should be as fo

[2022-09-27 08:38] Spomky opened #298 "Cross Origin Parameter"
### Description

In https://github.com/web-auth/webauthn-framework/blob/4.3.x/src/webauthn/src/CollectedClientData.php, the [`crossOrigin`](https://www.w3.org/TR/webauthn-2/#dom-collectedclientdata-crossorigin) should be supported.

Also, the Symfony bundle should handle it as a configuration parameter.

### Example

_No response_

[2022-09-27 09:43] amenophis opened #299 "Android-SafetyNet attestion created as AnonCA"
### Version(s) affected

4.2.0

### Description

Hello @Spomky,

Firstly, many thanks for your hard work on this library !

I'm trying to use attestation_conveyancePublicKeyCredentialCreationOptions::ATTESTATION_CONVEYANCE_PREFERENCE_DIRECT, it works well when using a Yubikey, but not on Android nor Apple devices.

The AttestationStatement is anormaly constructed with the AttestationStatement::cre

[2022-09-27 09:54] Spomky commented on #299
Hi @amenophis,

For Apple devices, I am pretty sure this is the normal behaviour because the Attestation Format is `apple` and only `anonca` is supported (see https://www.w3.org/TR/webauthn-2/#sctn-apple-anonymous-attestation).
But it seems there is something wrong with Android. Both `android-safetynet` and `android-key` should return a basic attestation statement.

[2022-09-27 09:59] Spomky commented on #299
By the way, I noted the change occurred between `4.0.x` and `4.1.x`.
This should be related to the compliance with the official FIDO Alliance testing tool. I will dig in this direction.

[2022-09-27 10:01] Spomky commented on #299
2 minutes later... Related to https://github.com/fido-alliance/conformance-test-tools-resources/issues/687 I think

[2022-09-27 10:41] Spomky commented on #299
Should be fixed now

[2022-09-27 10:41] #299 closed, assigned to Spomky

[2022-09-27 11:47] #296 closed, assigned to Spomky

[2022-09-27 11:47] #297 closed, assigned to Spomky

[2022-09-27 13:40] amenophis commented on #299
Thanks @Spomky,
That was really quick 😉 !

I confirm it is working with the release !
Thanks

[2022-09-29 09:38] Spomky opened #306 "Local Folder with MDS files"
### Description

Add a `Webauthn\MetadataService\Service\MetadataService` able to read all MDS files in a local folder as done for the tests with [SingleFileService.php](https://github.com/web-auth/webauthn-framework/blob/4.3.x/tests/symfony/functional/SingleFileService.php)

### Example

_No response_

[2022-09-29 09:49] Spomky opened #307 "Dispatch events"
### Description

The Symfony bundle is able to dispatch events, but it would be nice if the library was able to do so.
https://www.php-fig.org/psr/psr-14/

### Example

_No response_

[2022-10-04 13:12] #306 closed, assigned to nobody

[2022-10-06 06:03] Spomky opened #315 "Makefile enhancement"
### Description

The Makefile used in this project is very basic: it contains a few number of commands for helping CI/CD.
But it could be better for contributor onboarding or by integrating new cool stuff e.g. [PHPQA](https://github.com/jakzal/phpqa) without the boring docker commands to call.

### Example

[code]

[2022-10-06 07:54] Spomky opened #316 "[Project] MDS Repository as a SAAS"
### Description

Metadata Statement Management is a boring task. developers shall gather MDS from various sources: FIDO Alliance blob, small manufacturers or handmade authenticators.

It could be interesting to have
* a repository that contains all known MDS, including custom made MDS.
* for a given tenant, a list of selected MDS could be whitelisted/blacklisted depending on custom rules e.g. cert

[2022-10-06 11:11] Spomky opened #319 "Use of Paratest"
### Description

[paratestphp/paratest](https://github.com/paratestphp/paratest) runs faster on local devices.
To be checked if this reduces the total run time for the CI/CD

### Example

_No response_

[2022-10-06 11:15] #298 closed, assigned to Spomky

[2022-10-06 13:08] Nevercold commented on #285
Hey,

I have looked a bit, and do not quite understand where I have the error. Is it possible that you tell me where the error might lie?

[2022-10-07 17:33] Spomky opened #322 "MakerBundle Component"
### Description

It could be great to have a MakerBundle component that helps configuring Webauthn:

### Example

[code]

[2022-10-07 19:01] Nevercold commented on #285
Okay, nevermind.

I fixed the padding thing. I am now on 4.3.0 and it works.
However, I still have one problem:
When I use the PublicKeyCredentialRequestOptions ->allowCredentials(...$allowedCredentials), I get the error: "The credential ID is not allowed."
Although when debugging it outputs exactly the same ID as saved, and without this it works.

[2022-10-24 20:30] iganev opened #326 "psr/log flexibility"
### Description

Would it be possible to make psr/log more flexible in terms of versioning requirements?

Huge portion of the PHP ecosystem still relies on psr/log ^1.1.0, while webauthn requires psr/log ^3.

### Example

_No response_

[2022-11-02 17:13] Spomky commented on #326
Hi,

No pb for me.
Will be intergrated from v4.2.x. See ##328

[2022-11-07 20:21] Spomky commented on #326
Done. Will be released soon

[2022-11-07 20:21] #326 closed, assigned to Spomky

[2022-11-13 14:30] Nevercold commented on #285
Reopen

[2022-11-21 23:24] janklan opened #336 "How to enroll an existing user?"
### Description

I'm wondering how to allow existing users (say provisioned via SAML, or any other way) use webauthn as an alternative way to authenticate (alongside of their existing username&password)

I'm playing around with your Symfony bundle and the Stimulus controller. I managed to get it working to the point when the browser is asking me for the token, and then attempts to authenticate. Au

[2022-11-22 02:35] janklan commented on #336
Actually, this opens another related question: currently the Stimulus controller requires the username to be provided by the web browser. I noticed `Webauthn\Bundle\DependencyInjection\Factory\Security\WebauthnFactory` provides dynamic routes that handle the communication for each firewall, but I didn't find an obvious way for me to implement those routes myself - or at least the "register options

[2022-11-22 06:53] Spomky commented on #336
Hi,

This is my mistake: the documentation is not up to date about the Stimulus Actions.

1. Create additional routes.
This step is done by simple configuration keys like [in the demo](https://github.com/web-auth/symfony-demo/blob/production/config/packages/webauthn.yaml#L33-L39) and [explained in the documentation](https://webauthn-doc.spomky-labs.com/symfony-bundle/advanced-behaviors/register-au